Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/altcoins, @BitGo/defi-team, @BitGo/git-admins

chore(utxo-lib): update noble and musig libraries
  modules/utxo-lib/package.json
  modules/utxo-lib/src/noble_ecc.ts
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team

feat(sdk-coin-bsc): allow account consolidations
  modules/sdk-coin-bsc/src/tbsc.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
Owners: @BitGo/eth-team

feat(sdk-coin-stx): update stx staking contract name
  modules/sdk-coin-stx/src/lib/constants.ts
  modules/sdk-coin-stx/src/lib/contractBuilder.ts
  modules/sdk-coin-stx/test/fixtures.ts
  modules/sdk-coin-stx/test/unit/resources.ts
  modules/sdk-coin-stx/test/unit/transactionBuilder/contractBuilder.ts
Owners: @BitGo/altcoins

feat(sdk-coin-sui): update sui models up to 0.30 BG-71599
  modules/sdk-coin-sui/package.json
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/Commands.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/Inputs.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/TransactionBlock.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/TransactionDataBlock.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/Transactions.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/bcs.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/index.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/serializer.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/utils.ts
  modules/sdk-coin-sui/src/lib/mystenlab/framework/framework.ts
  modules/sdk-coin-sui/src/lib/mystenlab/framework/index.ts
  modules/sdk-coin-sui/src/lib/mystenlab/framework/sui-system-state.ts
  modules/sdk-coin-sui/src/lib/mystenlab/txn-data-serializers/type-tag-serializer.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/common.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/index.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/normalized.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/objects.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/sui-bcs.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/transactions.ts
  modules/sdk-coin-sui/src/lib/mystenlab/types/validator.ts
  modules/sdk-coin-sui/src/lib/stakingBuilder.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/transferTransaction.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/altcoins

feat(sdk-core): allow passing a list of delegations for eth BG-71114
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-coin-btc): get rootwalletkeys for inscription transfer
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/sdk-coin-btc/src/inscriptionBuilder.ts
Owners: @BitGo/btc-team

fix(sdk-coin-btc): convert unspent value to BigInt
  modules/sdk-coin-btc/src/inscriptionBuilder.ts
Owners: @BitGo/btc-team

chore(sdk-coin-btc): prepareTransfer return calculated fee
  modules/sdk-coin-btc/src/inscriptionBuilder.ts
Owners: @BitGo/btc-team

feat(sdk-coin-sui): build staking transaction BG-70925
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/mystenlab/framework/sui-system-state.ts
  modules/sdk-coin-sui/src/lib/stakingBuilder.ts
  modules/sdk-coin-sui/src/lib/stakingTransaction.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transferTransaction.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/stakingBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-sui/test/unit/transferTransaction.ts
Owners: @BitGo/altcoins

fix: fix error when using feeOutput
  modules/sdk-coin-btc/src/inscriptionBuilder.ts
Owners: @BitGo/btc-team

fix(sdk-coin-sui): fixed getAddressFromPublicKey for SUI
  modules/sdk-coin-sui/package.json
  modules/sdk-coin-sui/src/lib/keyPair.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-sui/test/unit/sui.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/altcoins

fix(sdk-coin-sui): staking explain transaction BG-71413
  modules/sdk-coin-sui/src/lib/stakingTransaction.ts
  modules/sdk-coin-sui/test/unit/sui.ts
Owners: @BitGo/altcoins

feat(utxo-lib): parse psbt for p2trMusig2
  modules/bitgo/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
  modules/unspents/src/dimensions.ts
  modules/utxo-bin/src/InputOutputParser.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/psbt/fromHalfSigned.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/src/taproot.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-ord/test/psbt.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team

fix(utxo-lib): rename getScriptPathLevel to getLeafVersion
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

refactor(utxo-lib): tighten constraints in validateScript
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

chore(polygon): disable failing test
  modules/sdk-coin-polygon/test/unit/polygon.ts
Owners: @BitGo/eth-team

refactor(utxo-lib): tighten constraints in validateScript
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

refactor(utxo-lib): introduce ParsedScriptType
  modules/unspents/src/dimensions.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/psbt/fromHalfSigned.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/bitgo/signature.ts
Owners: @BitGo/btc-team

chore(sdk-coin-polygon): disable failing test
  modules/sdk-coin-polygon/test/unit/polygon.ts
Owners: @BitGo/eth-team

refactor(utxo-lib): tighten constraints in validateScript
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

feat(utxo-lib): introduce ParsedScriptType
  modules/bitgo/test/v2/unit/coins/utxo/recovery/backupKeyRecovery.ts
  modules/unspents/src/dimensions.ts
  modules/utxo-bin/src/InputOutputParser.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/psbt/fromHalfSigned.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team

feat(utxo-lib): new function getTaprootOutputKey
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/taproot.ts
  modules/utxo-lib/test/taproot.spec.ts
Owners: @BitGo/btc-team

fix(sui): test with signature
  modules/sdk-coin-sui/package.json
  modules/sdk-coin-sui/src/lib/keyPair.ts
  modules/sdk-coin-sui/src/lib/transactionBuilder.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transferBuilder.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/altcoins

feat(utxo-lib): parse p2trMusig2 key path witness
  modules/unspents/src/dimensions.ts
  modules/utxo-bin/src/InputOutputParser.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/psbt/fromHalfSigned.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-ord/test/psbt.ts
Owners: @BitGo/btc-team

test: sdk signing
  modules/sdk-coin-sui/src/lib/keyPair.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
Owners: @BitGo/altcoins

fix: use p2wsh and internalChainCode for changeAddress creation
  modules/sdk-coin-btc/src/inscriptionBuilder.ts
Owners: @BitGo/btc-team

feat(utxo-lib): parse p2trMusig2 key path witness
  modules/unspents/src/dimensions.ts
  modules/utxo-bin/src/InputOutputParser.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/psbt/fromHalfSigned.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
  modules/utxo-ord/test/psbt.ts
Owners: @BitGo/btc-team

fix(sdk-coin-sui): tx signing flow BG-71599
  modules/sdk-coin-sui/src/lib/stakingBuilder.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
Owners: @BitGo/altcoins

feat(utxo-lib): parse psbt for p2trMusig2
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

chore(sdk-core): fix prepareTransfer signature
  modules/sdk-core/src/bitgo/inscriptionBuilder/iInscriptionBuilder.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): parse psbt for p2trMusig2
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

feat(sdk-core): add sha256 hash support in ecdsa tss signing
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-coin-sui): build unstaking transaction BG-70926
  modules/sdk-coin-sui/src/lib/constants.ts
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/stakingBuilder.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sui/src/lib/unstakingBuilder.ts
  modules/sdk-coin-sui/src/lib/unstakingTransaction.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/unstakingBuilder.ts
Owners: @BitGo/altcoins

feat(sdk-core): add sha256 hash support in ecdsa tss signing
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-coin-atom): fix getAddress of KeyPair
  modules/sdk-coin-atom/src/lib/keyPair.ts
  modules/sdk-coin-atom/test/unit/keyPair.ts
Owners: @BitGo/altcoins

fix(sdk-coin-sui): export unstaking BG-70926
  modules/sdk-coin-sui/src/lib/index.ts
Owners: @BitGo/altcoins

feat(sdk-coin-sol): add create ATA to token transfer for SOL
  modules/sdk-coin-sol/src/lib/ataInitializationBuilder.ts
  modules/sdk-coin-sol/src/lib/ataInitializationTransaction.ts
  modules/sdk-coin-sol/src/lib/constants.ts
  modules/sdk-coin-sol/src/lib/iface.ts
  modules/sdk-coin-sol/src/lib/instructionParamsFactory.ts
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/src/lib/transaction.ts
  modules/sdk-coin-sol/src/lib/transactionBuilder.ts
  modules/sdk-coin-sol/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-coin-sol/test/unit/transaction.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/ataInitBuilder.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/unit/utils.ts
Owners: @BitGo/altcoins

fix(sdk-coin-sui): fix tx type BG-70926
  modules/sdk-coin-sui/src/lib/unstakingTransaction.ts
Owners: @BitGo/altcoins

feat(sdk-core): add openssl wasm support for fast safe prime generation
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team

feat(sdk-coin-polygon): support evm based cross chain recovery
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-polygon/test/fixtures/polygon.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/statics/src/networks.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-ord/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-ada/ @BitGo/altcoins
modules/sdk-coin-algo/ @BitGo/altcoins
modules/sdk-coin-atom/ @BitGo/altcoins
modules/sdk-coin-avaxc/ @BitGo/altcoins
modules/sdk-coin-avaxp/ @BitGo/altcoins
modules/sdk-coin-bsc/ @BitGo/eth-team
modules/sdk-coin-cspr/ @BitGo/altcoins
modules/sdk-coin-dot/ @BitGo/altcoins
modules/sdk-coin-eos/ @BitGo/altcoins
modules/sdk-coin-hbar/ @BitGo/altcoins
modules/sdk-coin-near/ @BitGo/altcoins
modules/sdk-coin-polygon/ @BitGo/eth-team
modules/sdk-coin-sol/ @BitGo/altcoins
modules/sdk-coin-stx/ @BitGo/altcoins
modules/sdk-coin-sui/ @BitGo/altcoins
modules/sdk-coin-trx/ @BitGo/altcoins
modules/sdk-coin-xlm/ @BitGo/altcoins
modules/sdk-coin-xrp/ @BitGo/altcoins
modules/sdk-coin-xtz/ @BitGo/altcoins



# Core Modules
modules/bitgo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b-wasm/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/express/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/key-card/ @BitGo/wallets
modules/sdk-api/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-core/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-rpc-wrapper @BitGo/defi-team
modules/sdk-test/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-unified-wallet @BitGo/defi-team
modules/sjcl/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/statics/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/web-demo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
scripts/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
types/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
webpack/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

.eslintrc.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
.prettierrc.yml @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
check-package-versions.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
CODEOWNERS @BitGo/git-admins
DEVELOPERS.md @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
commitlint.config.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
Dockerfile @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
lerna.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
package.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.packages.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
