Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/altcoins, @BitGo/defi-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-ord/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-ada/ @BitGo/altcoins
modules/sdk-coin-algo/ @BitGo/altcoins
modules/sdk-coin-atom/ @BitGo/altcoins
modules/sdk-coin-avaxc/ @BitGo/altcoins
modules/sdk-coin-avaxp/ @BitGo/altcoins
modules/sdk-coin-bsc/ @BitGo/eth-team
modules/sdk-coin-cspr/ @BitGo/altcoins
modules/sdk-coin-dot/ @BitGo/altcoins
modules/sdk-coin-eos/ @BitGo/altcoins
modules/sdk-coin-hbar/ @BitGo/altcoins
modules/sdk-coin-near/ @BitGo/altcoins
modules/sdk-coin-polygon/ @BitGo/eth-team
modules/sdk-coin-sol/ @BitGo/altcoins
modules/sdk-coin-stx/ @BitGo/altcoins
modules/sdk-coin-sui/ @BitGo/altcoins
modules/sdk-coin-trx/ @BitGo/altcoins
modules/sdk-coin-xlm/ @BitGo/altcoins
modules/sdk-coin-xrp/ @BitGo/altcoins
modules/sdk-coin-xtz/ @BitGo/altcoins



# Core Modules
modules/bitgo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b-wasm/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/express/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/key-card/ @BitGo/wallets
modules/sdk-api/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-core/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-rpc-wrapper @BitGo/defi-team
modules/sdk-test/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-unified-wallet @BitGo/defi-team
modules/sjcl/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/statics/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/web-demo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
scripts/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
types/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
webpack/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

.eslintrc.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
.prettierrc.yml @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
check-package-versions.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
CODEOWNERS @BitGo/git-admins
DEVELOPERS.md @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
commitlint.config.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
Dockerfile @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
lerna.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
package.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.packages.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

chore: onboard new batch of tokens (tavax) Ticket: BG-74015
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(root): fmt, lint fix
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-coin-eth/src/lib/iface.ts
  modules/sdk-coin-eth2/test/unit/eth2.ts
  modules/sdk-coin-sui/src/lib/mystenlab/builder/TransactionBlock.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/statics/test/unit/base.ts
  modules/utxo-bin/test/parseAddress.ts
  modules/utxo-lib/src/addressFormat.ts
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/wallet/chains.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
  modules/utxo-lib/test/integration_local_rpc/parse.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team, @BitGo/altcoins, @BitGo/btc-team

chore(sdk-core): move getChallengesForEcdsaSigning to wallet class
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): save enterprise data on get
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): enable signing with enterprise challenge
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): move ntilde (de/se)rialize methods
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-core): use coin agnostic url for get challenges
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): add comments and types
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): update tests
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/express/encryptedPrivKeys.json
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/test/unit/ecdsa.ts
  modules/sdk-test/src/bitgo/lib/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

this is the utxopsbt stuff
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

fix(statics): update sui mainnet explorer url
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): deterministic sign and nonce gen for psbts
  modules/utxo-lib/src/bitgo/Musig2.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
Owners: @BitGo/btc-team

feat(utxo-lib): verify fully signed musig2 tx signature
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
Owners: @BitGo/btc-team

feat(sdk-core): pre validate wallet pass phrase
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(utxo-lib): move psbt determinisitic funcs to testutil
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
Owners: @BitGo/btc-team

feat: create typedoc generator
  .gitignore
  modules/bitgo/typedoc.json
  package.json
  typedoc.js
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(bitgo): dockerfile
  Dockerfile
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(utxo-lib): witness utxo should not be added for non-segwit PSBT input
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
Owners: @BitGo/btc-team

feat(utxo-lib): add musig2 nonce at input index
  modules/unspents/test/testutils.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
Owners: @BitGo/btc-team

feat(sdk-core): add more whitelisted build params
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(utxo-lib): improve taproot input check
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
Owners: @BitGo/btc-team

feat(sdk-core): stop calling staking service send api for full version
  modules/bitgo/test/v2/unit/staking/stakingWalletTSS.ts
  modules/sdk-core/src/bitgo/staking/stakingWallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-coin-btc): find & use supplementary unspents in case inscription unspent amount is not enough to cover fees
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/sdk-coin-btc/src/inscriptionBuilder.ts
  modules/utxo-ord/src/psbt.ts
Owners: @BitGo/btc-team

feat(sdk-coin-bsc): add key validation
  examples/ts/validpub.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/test/unit/bsc.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team

fix(sdk-coin-eth): fix eth multisig recoveries
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-eth/src/eth.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team

chore: onboard GALA v2 token Ticket: BG-74735
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): migrate deterministic signing into utxopsbt
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
Owners: @BitGo/btc-team

fix(sdk-coin-xrp): add coin field to xrp unsigned transaction
  modules/sdk-coin-xrp/src/xrp.ts
Owners: @BitGo/altcoins

feat(sdk-core): add proof of paillier correctness
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/paillierproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(bitgo): drone is no longer used in this repo so can safely be removed
  .dockerignore
  .github/workflows/ci.yml
  commitlint.config.js
  modules/account-lib/.npmignore
  modules/bitgo/.npmignore
  modules/bitgo/README.md
  modules/bitgo/scripts/upload-docs.js
  modules/unspents/.npmignore
  modules/unspents/CODEOWNERS
  modules/unspents/README.md
  package.json
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team, @BitGo/btc-team, @BitGo/git-admins
