Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/altcoins, @BitGo/defi-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-ord/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-ada/ @BitGo/altcoins
modules/sdk-coin-algo/ @BitGo/altcoins
modules/sdk-coin-atom/ @BitGo/altcoins
modules/sdk-coin-avaxc/ @BitGo/altcoins
modules/sdk-coin-avaxp/ @BitGo/altcoins
modules/sdk-coin-bsc/ @BitGo/eth-team
modules/sdk-coin-cspr/ @BitGo/altcoins
modules/sdk-coin-dot/ @BitGo/altcoins
modules/sdk-coin-eos/ @BitGo/altcoins
modules/sdk-coin-hbar/ @BitGo/altcoins
modules/sdk-coin-near/ @BitGo/altcoins
modules/sdk-coin-polygon/ @BitGo/eth-team
modules/sdk-coin-sol/ @BitGo/altcoins
modules/sdk-coin-stx/ @BitGo/altcoins
modules/sdk-coin-sui/ @BitGo/altcoins
modules/sdk-coin-trx/ @BitGo/altcoins
modules/sdk-coin-xlm/ @BitGo/altcoins
modules/sdk-coin-xrp/ @BitGo/altcoins
modules/sdk-coin-xtz/ @BitGo/altcoins



# Core Modules
modules/bitgo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b-wasm/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/express/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/key-card/ @BitGo/wallets
modules/sdk-api/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-core/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-rpc-wrapper @BitGo/defi-team
modules/sdk-test/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-unified-wallet @BitGo/defi-team
modules/sjcl/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/statics/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/web-demo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
scripts/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
types/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
webpack/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

.eslintrc.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
.prettierrc.yml @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
check-package-versions.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
CODEOWNERS @BitGo/git-admins
DEVELOPERS.md @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
commitlint.config.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
Dockerfile @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
lerna.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
package.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.packages.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

feat(sdk-core): update node version, use native crypto lib for safeprimes
  .nvmrc
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-coin-atom/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/transfer.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/walletInitializationBuilder.ts
  modules/sdk-coin-avaxc/test/unit/util.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportC2PTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportP2CTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/importC2PTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/importP2CTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/keyPair.ts
  modules/sdk-coin-avaxp/test/unit/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/test/unit/lib/utxoEngine.ts
  modules/sdk-coin-avaxp/test/unit/lib/validateTxBuilder.ts
  modules/sdk-coin-bsc/test/unit/utils.ts
  modules/sdk-coin-celo/test/unit/stakingBuilder.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/staking.ts
  modules/sdk-coin-eos/src/lib/utils.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenAssociateBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/wrappedBuilder.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team, @BitGo/altcoins

Generate Ntilde Proofs
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

Add verify function
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

Proofs and Verifications complete
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-coin-sui): fix txHex to hex string
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-sui/test/unit/sui.ts
Owners: @BitGo/altcoins

fix(utxo-ord): match `ord` decoder bug in reveal script
  modules/utxo-ord/src/inscriptions.ts
  modules/utxo-ord/test/inscription.ts
Owners: @BitGo/btc-team

fix: update cspr testnet explorer to reference integration cluster
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(statics): update sui explorer urls
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat: use isCpfp flag during send on accelerateTransaction
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): update ecdsa signing to use enterprise challenge
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/unit/apiNocks.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/common.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(statics): update SUI explorer urls
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): refactor validation and fix sigValArray
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Owners: @BitGo/btc-team

fix(sdk-core): eth tss receive address
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): generate and use safe primes
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team

chore(sdk-core): rename nTilde to ntilde to match wp types
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): add openssl wasm support for fast safe prime generation
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team

feat(sdk-core): update node version, use native crypto lib for safeprimes
  .nvmrc
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-coin-atom/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/transfer.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/walletInitializationBuilder.ts
  modules/sdk-coin-avaxc/test/unit/util.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportC2PTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportP2CTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/importC2PTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/importP2CTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/keyPair.ts
  modules/sdk-coin-avaxp/test/unit/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/test/unit/lib/utxoEngine.ts
  modules/sdk-coin-avaxp/test/unit/lib/validateTxBuilder.ts
  modules/sdk-coin-bsc/test/unit/utils.ts
  modules/sdk-coin-celo/test/unit/stakingBuilder.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/staking.ts
  modules/sdk-coin-eos/src/lib/utils.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenAssociateBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/wrappedBuilder.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team, @BitGo/altcoins

Generate Ntilde Proofs
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

Add verify function
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): update ecdsa signing to use enterprise challenge
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/unit/apiNocks.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/common.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

Proofs and Verifications complete
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): rename nTilde to ntilde to match wp types
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): add openssl wasm support for fast safe prime generation
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team

feat(sdk-core): update node version, use native crypto lib for safeprimes
  .nvmrc
  modules/account-lib/package.json
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-coin-atom/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/keyPair.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/transfer.ts
  modules/sdk-coin-avaxc/test/unit/transactionBuilder/walletInitializationBuilder.ts
  modules/sdk-coin-avaxc/test/unit/util.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportC2PTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/exportP2CTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/importC2PTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/importP2CTxBuilder.ts
  modules/sdk-coin-avaxp/test/unit/lib/keyPair.ts
  modules/sdk-coin-avaxp/test/unit/lib/transactionBuilderFactory.ts
  modules/sdk-coin-avaxp/test/unit/lib/utxoEngine.ts
  modules/sdk-coin-avaxp/test/unit/lib/validateTxBuilder.ts
  modules/sdk-coin-bsc/test/unit/utils.ts
  modules/sdk-coin-celo/test/unit/stakingBuilder.ts
  modules/sdk-coin-celo/test/unit/transactionBuilder/staking.ts
  modules/sdk-coin-eos/src/lib/utils.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/keyPair.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenAssociateBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/tokenTransferBuilder.ts
  modules/sdk-coin-hbar/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/contractCallBuilder.ts
  modules/sdk-coin-trx/test/unit/transactionBuilder/wrappedBuilder.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/eth-team, @BitGo/altcoins

Generate Ntilde Proofs
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

Add verify function
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): update ecdsa signing to use enterprise challenge
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/unit/apiNocks.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/common.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

Proofs and Verifications complete
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): rename nTilde to ntilde to match wp types
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): dimensions supports p2trMusig2
  modules/unspents/src/dimensions.ts
  modules/unspents/test/dimensions.ts
  modules/unspents/test/signedTx/inputWeights.ts
  modules/unspents/test/signedTx/txGen.ts
Owners: @BitGo/btc-team

feat(utxo-lib): dimensions supports p2trMusig2
  modules/unspents/test/dimensions.ts
  modules/unspents/test/signedTx/inputWeights.ts
  modules/unspents/test/signedTx/txCombinations.ts
  modules/unspents/test/signedTx/txGen.ts
  modules/unspents/test/testutils.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

fix(sdk-api): upgrade vm2
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): support p2shP2pk psbt parsing
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/parseInput.ts
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
Owners: @BitGo/btc-team

chore: only check for address details if address is not in recipient
  modules/abstract-utxo/src/parseOutput.ts
Owners: @BitGo/btc-team

chore(sdk-coin-atom): export atom staking builders
  modules/sdk-coin-atom/src/lib/index.ts
Owners: @BitGo/altcoins

chore(statics): onboard new tokens for april Ticket: BG-70637
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(unspents): add p2trMusig2 to dimensions
  modules/unspents/src/dimensions.ts
  modules/unspents/test/dimensions.ts
  modules/unspents/test/signedTx/inputWeights.ts
  modules/unspents/test/signedTx/txCombinations.ts
  modules/unspents/test/signedTx/txGen.ts
  modules/unspents/test/testutils.ts
Owners: @BitGo/btc-team

fix(sdk-core): add new function in BaseCoin to get hash-function
  modules/sdk-coin-atom/src/atom.ts
  modules/sdk-core/src/bitgo/baseCoin/baseCoin.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/altcoins, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(unspents): add dimensions for psbt
  modules/unspents/src/dimensions.ts
  modules/unspents/test/signedTx/txCombinations.ts
Owners: @BitGo/btc-team

fix(sdk-coin-sui): fix sui verifyTransaction method
  modules/sdk-coin-sui/src/sui.ts
  modules/sdk-coin-sui/test/unit/sui.ts
Owners: @BitGo/altcoins
