Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/ethalt-team, @BitGo/git-admins

fix(sdk-core): skip verify tx when txRequestId is provided
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-core): add new method to sign tss txs
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

fix(sdk-coin-ton): add transaction builder
  modules/sdk-coin-ton/package.json
  modules/sdk-coin-ton/src/lib/iface.ts
  modules/sdk-coin-ton/src/lib/keyPair.ts
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/transactionBuilder.ts
  modules/sdk-coin-ton/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-ton/src/lib/transferBuilder.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/src/ton.ts
  modules/sdk-coin-ton/test/integration/index.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/keyPair.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Owners: @BitGo/ethalt-team

feat(statics): enable coinfeature for atom
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(statics): add new coin features for trust
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: enable testing of node18 in ci
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(bitgo): update yarn.lock
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-ton): fix dep
  modules/sdk-coin-ton/package.json
Owners: @BitGo/ethalt-team

chore: update actions/checkout to v4
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: add package.json to hash key for node_modules cache
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: move house-keeping to seperate job
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(statics): add Berachain & Haqq
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

feat(sdk-coin-core): add coreum sdk
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-core/.eslintignore
  modules/sdk-coin-core/.gitignore
  modules/sdk-coin-core/.mocharc.yml
  modules/sdk-coin-core/.npmignore
  modules/sdk-coin-core/.prettierignore
  modules/sdk-coin-core/.prettierrc.yml
  modules/sdk-coin-core/README.md
  modules/sdk-coin-core/package.json
  modules/sdk-coin-core/src/core.ts
  modules/sdk-coin-core/src/index.ts
  modules/sdk-coin-core/src/lib/constants.ts
  modules/sdk-coin-core/src/lib/index.ts
  modules/sdk-coin-core/src/lib/keyPair.ts
  modules/sdk-coin-core/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-core/src/lib/utils.ts
  modules/sdk-coin-core/src/register.ts
  modules/sdk-coin-core/src/tcore.ts
  modules/sdk-coin-core/test/resources/core.ts
  modules/sdk-coin-core/test/resources/testcore.ts
  modules/sdk-coin-core/test/unit/core.ts
  modules/sdk-coin-core/test/unit/keyPair.ts
  modules/sdk-coin-core/test/unit/transaction.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-core/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-core/test/unit/utils.ts
  modules/sdk-coin-core/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team, @BitGo/hsm

feat(statics): add arbeth coin config WIN-690 TICKET: WIN-690
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

feat(statics): add opeth coin config WIN-691 TICKET: WIN-691
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

feat(sdk-coin-atom): add sendMany support for cosmos chains
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-cosmos/src/lib/transaction.ts
  modules/sdk-coin-atom/src/lib/transaction.ts
  modules/sdk-coin-atom/test/resources/atom.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-atom/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/test/resources/tia.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-tia/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-tia/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-tia/test/unit/transactionBuilder/transferBuilder.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

feat(statics): adds ofc oxt and tusd in coins.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(statics): add dYdX chain
  modules/bitgo/test/v2/unit/keychains.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

fix(sdk-coin-core): fix failing coreum test
  modules/sdk-coin-core/test/unit/core.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-sui): add more validations for custom tx EA-1734
  modules/sdk-coin-sui/src/lib/customTransaction.ts
  modules/sdk-coin-sui/src/lib/customTransactionBuilder.ts
  modules/sdk-coin-sui/src/lib/transaction.ts
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/customTransactionBuilder.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/transactionBuilder.ts
Owners: @BitGo/ethalt-team

feat(abstract-cosmos): add support for different pubkey types
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-cosmos/src/lib/iface.ts
  modules/abstract-cosmos/src/lib/transactionBuilder.ts
  modules/abstract-cosmos/src/lib/utils.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(statics): fix bera decimals
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-arbeth): add arbeth sdk skeleton WIN-694 TICKET: WIN-694
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-arbeth/.eslintignore
  modules/sdk-coin-arbeth/.gitignore
  modules/sdk-coin-arbeth/.mocharc.yml
  modules/sdk-coin-arbeth/.npmignore
  modules/sdk-coin-arbeth/.prettierignore
  modules/sdk-coin-arbeth/.prettierrc.yml
  modules/sdk-coin-arbeth/README.md
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-arbeth/src/index.ts
  modules/sdk-coin-arbeth/src/lib/index.ts
  modules/sdk-coin-arbeth/src/lib/resources.ts
  modules/sdk-coin-arbeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-arbeth/src/lib/transferBuilder.ts
  modules/sdk-coin-arbeth/src/lib/utils.ts
  modules/sdk-coin-arbeth/src/register.ts
  modules/sdk-coin-arbeth/src/tarbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-coin-arbeth/tsconfig.json
  tsconfig.packages.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

feat(sdk-coin-bera): add Berachain skeleton
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-bera/.eslintignore
  modules/sdk-coin-bera/.gitignore
  modules/sdk-coin-bera/.mocharc.yml
  modules/sdk-coin-bera/.npmignore
  modules/sdk-coin-bera/.prettierignore
  modules/sdk-coin-bera/.prettierrc.yml
  modules/sdk-coin-bera/README.md
  modules/sdk-coin-bera/package.json
  modules/sdk-coin-bera/src/bera.ts
  modules/sdk-coin-bera/src/index.ts
  modules/sdk-coin-bera/src/lib/constants.ts
  modules/sdk-coin-bera/src/lib/index.ts
  modules/sdk-coin-bera/src/lib/keyPair.ts
  modules/sdk-coin-bera/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-bera/src/lib/utils.ts
  modules/sdk-coin-bera/src/register.ts
  modules/sdk-coin-bera/src/tbera.ts
  modules/sdk-coin-bera/test/unit/bera.ts
  modules/sdk-coin-bera/tsconfig.json
  modules/sdk-core/src/bitgo/environments.ts
  tsconfig.packages.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team, @BitGo/hsm

feat(statics): add holesky config
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/coins.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(statics): onboard botto, flip, vcore erc20 tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(statics): onboard poly:treta and xlm:eurc
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): whitelist distributed custody params
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-coin-ton): update the name of the smallest TON unit to nanoton
  modules/statics/src/base.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(abstract-eth): add abstractethliketsscoin class WIN-497 TICKET: WIN-497
  modules/abstract-eth/src/abstractEthLikeMPCCoin.ts
  modules/abstract-eth/src/ethLikeMPCToken.ts
  modules/abstract-eth/src/index.ts
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/bscToken.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

feat(abstract-eth): add abstractethliketsscoin class WIN-497 TICKET: WIN-497
  modules/abstract-eth/src/abstractEthLikeTssCoin.ts
  modules/abstract-eth/src/ethLikeToken.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-arbeth): add arbeth token support WIN-726 TICKET: WIN-726
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-arbeth/src/arbethToken.ts
  modules/sdk-coin-arbeth/src/index.ts
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

feat(sdk-coin-arbeth): add arbeth token support WIN-726 TICKET: WIN-726
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-arbeth): add arbeth token support WIN-726 TICKET: WIN-726
  modules/abstract-eth/src/abstractEthLikeTssCoin.ts
  modules/abstract-eth/src/ethLikeToken.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): create distributed custody wallet
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-coin-opeth): add opeth sdk skeleton WIN-695 TICKET: WIN-695
  Dockerfile
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/account-lib/tsconfig.json
  modules/bitgo/package.json
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/tsconfig.json
  modules/sdk-coin-opeth/.eslintignore
  modules/sdk-coin-opeth/.gitignore
  modules/sdk-coin-opeth/.mocharc.yml
  modules/sdk-coin-opeth/.npmignore
  modules/sdk-coin-opeth/.prettierignore
  modules/sdk-coin-opeth/.prettierrc.yml
  modules/sdk-coin-opeth/README.md
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/src/index.ts
  modules/sdk-coin-opeth/src/lib/index.ts
  modules/sdk-coin-opeth/src/lib/resources.ts
  modules/sdk-coin-opeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-opeth/src/lib/transferBuilder.ts
  modules/sdk-coin-opeth/src/lib/utils.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-coin-opeth/src/register.ts
  modules/sdk-coin-opeth/src/topeth.ts
  modules/sdk-coin-opeth/test/unit/opeth.ts
  modules/sdk-coin-opeth/tsconfig.json
  tsconfig.packages.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

feat(sdk-coin-arbeth): add arbeth token support WIN-726 TICKET: WIN-726
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/browser/browser.spec.ts
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-arbeth/src/arbethToken.ts
  modules/sdk-coin-arbeth/src/index.ts
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/tokenConfig.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

feat(sdk-coin-sui): add new moveCall function Ticket: EA-1657
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/utils.ts
Owners: @BitGo/ethalt-team

chore(statics): add more SOLANA token
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

docs(root): add sui custom tx script
  examples/js/sui/custom-tx/.nvmrc
  examples/js/sui/custom-tx/custom-tx.js
  examples/js/sui/custom-tx/package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
/modules/abstract-utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
/modules/blockapis/ @BitGo/btc-team
/modules/bls-dkg/ @BitGo/hsm
/modules/sdk-coin-bch/ @BitGo/btc-team
/modules/sdk-coin-bcha/ @BitGo/btc-team
/modules/sdk-coin-bsv/ @BitGo/btc-team
/modules/sdk-coin-btc/ @BitGo/btc-team
/modules/sdk-coin-btg/ @BitGo/btc-team
/modules/sdk-coin-dash/ @BitGo/btc-team
/modules/sdk-coin-doge/ @BitGo/btc-team
/modules/sdk-coin-ltc/ @BitGo/btc-team
/modules/sdk-coin-zec/ @BitGo/btc-team
/modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
/modules/unspents/ @BitGo/btc-team
/modules/utxo-bin/ @BitGo/btc-team
/modules/utxo-lib/ @BitGo/btc-team
/modules/utxo-ord/ @BitGo/btc-team

# Eth
/modules/account-lib/ @BitGo/ethalt-team
/modules/sdk-coin-celo/ @BitGo/ethalt-team
/modules/sdk-coin-etc/ @BitGo/ethalt-team
/modules/sdk-coin-eth/ @BitGo/ethalt-team
/modules/sdk-coin-eth2/ @BitGo/ethalt-team
/modules/sdk-coin-rbtc/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/staking/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/token.ts @BitGo/ethalt-team

# All other coins
/modules/sdk-coin-ada/ @BitGo/ethalt-team
/modules/sdk-coin-algo/ @BitGo/ethalt-team
/modules/sdk-coin-atom/ @BitGo/ethalt-team
/modules/sdk-coin-avaxc/ @BitGo/ethalt-team
/modules/sdk-coin-avaxp/ @BitGo/ethalt-team
/modules/sdk-coin-bsc/ @BitGo/ethalt-team
/modules/sdk-coin-cspr/ @BitGo/ethalt-team
/modules/sdk-coin-dot/ @BitGo/ethalt-team
/modules/sdk-coin-eos/ @BitGo/ethalt-team
/modules/sdk-coin-hbar/ @BitGo/ethalt-team
/modules/sdk-coin-near/ @BitGo/ethalt-team
/modules/sdk-coin-polygon/ @BitGo/ethalt-team
/modules/sdk-coin-sol/ @BitGo/ethalt-team
/modules/sdk-coin-stx/ @BitGo/ethalt-team
/modules/sdk-coin-sui/ @BitGo/ethalt-team
/modules/sdk-coin-ton/ @BitGo/ethalt-team
/modules/sdk-coin-trx/ @BitGo/ethalt-team
/modules/sdk-coin-xlm/ @BitGo/ethalt-team
/modules/sdk-coin-xrp/ @BitGo/ethalt-team
/modules/sdk-coin-xtz/ @BitGo/ethalt-team



# Core Modules
/modules/bitgo/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b-wasm/  @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/express/ @BitGo/wallet-platform
/modules/key-card/ @BitGo/wallet-platform
/modules/sdk-api/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-core/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-rpc-wrapper @BitGo/ethalt-team
/modules/sdk-test/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-unified-wallet @BitGo/ethalt-team
/modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

/.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/CODEOWNERS @BitGo/git-admins
/DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
