Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/ethalt-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
/modules/abstract-utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
/modules/blockapis/ @BitGo/btc-team
/modules/bls-dkg/ @BitGo/hsm
/modules/sdk-coin-bch/ @BitGo/btc-team
/modules/sdk-coin-bcha/ @BitGo/btc-team
/modules/sdk-coin-bsv/ @BitGo/btc-team
/modules/sdk-coin-btc/ @BitGo/btc-team
/modules/sdk-coin-btg/ @BitGo/btc-team
/modules/sdk-coin-dash/ @BitGo/btc-team
/modules/sdk-coin-doge/ @BitGo/btc-team
/modules/sdk-coin-ltc/ @BitGo/btc-team
/modules/sdk-coin-zec/ @BitGo/btc-team
/modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
/modules/unspents/ @BitGo/btc-team
/modules/utxo-bin/ @BitGo/btc-team
/modules/utxo-lib/ @BitGo/btc-team
/modules/utxo-ord/ @BitGo/btc-team

# Eth
/modules/account-lib/ @BitGo/ethalt-team
/modules/sdk-coin-celo/ @BitGo/ethalt-team
/modules/sdk-coin-etc/ @BitGo/ethalt-team
/modules/sdk-coin-eth/ @BitGo/ethalt-team
/modules/sdk-coin-eth2/ @BitGo/ethalt-team
/modules/sdk-coin-rbtc/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/staking/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/token.ts @BitGo/ethalt-team

# All other coins
/modules/sdk-coin-ada/ @BitGo/ethalt-team
/modules/sdk-coin-algo/ @BitGo/ethalt-team
/modules/sdk-coin-atom/ @BitGo/ethalt-team
/modules/sdk-coin-avaxc/ @BitGo/ethalt-team
/modules/sdk-coin-avaxp/ @BitGo/ethalt-team
/modules/sdk-coin-bsc/ @BitGo/ethalt-team
/modules/sdk-coin-cspr/ @BitGo/ethalt-team
/modules/sdk-coin-dot/ @BitGo/ethalt-team
/modules/sdk-coin-eos/ @BitGo/ethalt-team
/modules/sdk-coin-hbar/ @BitGo/ethalt-team
/modules/sdk-coin-near/ @BitGo/ethalt-team
/modules/sdk-coin-polygon/ @BitGo/ethalt-team
/modules/sdk-coin-sol/ @BitGo/ethalt-team
/modules/sdk-coin-stx/ @BitGo/ethalt-team
/modules/sdk-coin-sui/ @BitGo/ethalt-team
/modules/sdk-coin-ton/ @BitGo/ethalt-team
/modules/sdk-coin-trx/ @BitGo/ethalt-team
/modules/sdk-coin-xlm/ @BitGo/ethalt-team
/modules/sdk-coin-xrp/ @BitGo/ethalt-team
/modules/sdk-coin-xtz/ @BitGo/ethalt-team



# Core Modules
/modules/bitgo/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b-wasm/  @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/express/ @BitGo/wallet-platform
/modules/key-card/ @BitGo/wallet-platform
/modules/sdk-api/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-core/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-rpc-wrapper @BitGo/ethalt-team
/modules/sdk-test/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-unified-wallet @BitGo/ethalt-team
/modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

/.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/CODEOWNERS @BitGo/git-admins
/DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

feat(sdk-core): add support for bulk unspent consolidation
  modules/bitgo/test/v2/unit/coins/utxo/util/keychains.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

fix(sdk-coin-xlm): fix muxed address check in verifyTransaction
  modules/sdk-coin-xlm/src/xlm.ts
Owners: @BitGo/ethalt-team

feat: deprecate old settlement code
  modules/bitgo/package.json
  modules/bitgo/test/v2/fixtures/trading/affirmation.ts
  modules/bitgo/test/v2/fixtures/trading/payload.ts
  modules/bitgo/test/v2/fixtures/trading/settlement.ts
  modules/bitgo/test/v2/fixtures/trading/tradingPartner.ts
  modules/bitgo/test/v2/unit/trading/affirmation.ts
  modules/bitgo/test/v2/unit/trading/payload.ts
  modules/bitgo/test/v2/unit/trading/settlement.ts
  modules/bitgo/test/v2/unit/trading/tradingAccount.ts
  modules/bitgo/test/v2/unit/trading/tradingPartner.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/trading/affirmation.ts
  modules/sdk-core/src/bitgo/trading/affirmations.ts
  modules/sdk-core/src/bitgo/trading/iAffirmation.ts
  modules/sdk-core/src/bitgo/trading/iAffirmations.ts
  modules/sdk-core/src/bitgo/trading/iSettlement.ts
  modules/sdk-core/src/bitgo/trading/iSettlements.ts
  modules/sdk-core/src/bitgo/trading/iTradingAccount.ts
  modules/sdk-core/src/bitgo/trading/iTradingPartner.ts
  modules/sdk-core/src/bitgo/trading/iTradingPartners.ts
  modules/sdk-core/src/bitgo/trading/index.ts
  modules/sdk-core/src/bitgo/trading/lock.ts
  modules/sdk-core/src/bitgo/trading/payload.ts
  modules/sdk-core/src/bitgo/trading/settlement.ts
  modules/sdk-core/src/bitgo/trading/settlements.ts
  modules/sdk-core/src/bitgo/trading/trade.ts
  modules/sdk-core/src/bitgo/trading/tradingAccount.ts
  modules/sdk-core/src/bitgo/trading/tradingPartner.ts
  modules/sdk-core/src/bitgo/trading/tradingPartners.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

test(sdk-coin-coreum): add tests for wallet recovery
  modules/sdk-coin-coreum/package.json
  modules/sdk-coin-coreum/test/resources/tcoreum.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-core): fix coreum node url
  modules/sdk-core/src/bitgo/environments.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(unspents): default unspents dimensions to recovery path
  modules/abstract-utxo/src/recovery/crossChainRecovery.ts
  modules/unspents/src/dimensions.ts
  modules/unspents/test/dimensions.ts
  modules/utxo-ord/src/psbt.ts
Owners: @BitGo/btc-team

feat(statics): onboard new batch of tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat: prevent usage of TON in the United States
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/account.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(root): publish express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-opeth): add opeth token support WIN-963 TICKET: WIN-963
  modules/sdk-coin-opeth/src/index.ts
  modules/sdk-coin-opeth/src/opethToken.ts
  modules/sdk-coin-opeth/test/unit/opethToken.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(utxo-lib): remove p2tr sigh hash default from sig
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

fix(sdk-coin-ton): change address format to non bouncable
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Owners: @BitGo/ethalt-team

fix(sdk-coin-stx): fix half signed txn format Ticket: EA-2290
  modules/sdk-coin-stx/src/stx.ts
  modules/sdk-coin-stx/test/unit/stx.ts
Owners: @BitGo/ethalt-team

Revert "fix(sdk-coin-ton): change address format to non bouncable"
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Owners: @BitGo/ethalt-team

docs(bitgo): update example link
  modules/bitgo/README.md
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-avaxp): replace export fee for import fee on output validation recipient amount plus import fee is equal to output amount
  modules/sdk-coin-avaxp/src/avaxp.ts
  modules/sdk-coin-avaxp/test/unit/avaxp.ts
  modules/statics/src/networks.ts
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-sol): add sol token recovery support
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Owners: @BitGo/ethalt-team, @BitGo/wallet-platform, @BitGo/hsm

chore(root): publish express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-coin-avaxc): ignore failing avaxc tests
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
Owners: @BitGo/ethalt-team

feat(sdk-core): add custodial and smc tss wallet to generateWallet method
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/baseCoin/iBaseCoin.ts
  modules/sdk-core/src/bitgo/wallet/iWallets.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-unified-wallet/src/ecdsa-unified-wallet/ecdsaEVMUnifiedWallets.ts
  modules/sdk-unified-wallet/src/eddsa-unified-wallet/eddsaUnifiedWallets.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm, @BitGo/ethalt-team

docs(root): add new create wallet examples
  examples/ts/create-tss-custodial-wallet.ts
  examples/ts/create-tss-smc-wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-hash): use correct mainnet address format
  modules/sdk-coin-hash/src/hash.ts
  modules/sdk-coin-hash/src/lib/constants.ts
  modules/sdk-coin-hash/src/lib/keyPair.ts
  modules/sdk-coin-hash/src/lib/transactionBuilderFactory.ts
  modules/sdk-coin-hash/src/lib/utils.ts
  modules/sdk-coin-hash/src/thash.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-hash/test/unit/keyPair.ts
  modules/sdk-coin-hash/test/unit/transaction.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(statics): add SOL tokens for FTX
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(key-card): add boxes for master public keys
  modules/key-card/src/drawKeycard.ts
  modules/key-card/src/generateQrData.ts
  modules/key-card/src/types.ts
  modules/web-demo/src/components/KeyCard/fixtures.ts
  modules/web-demo/src/components/KeyCard/index.tsx
Owners: @BitGo/wallet-platform, @BitGo/coins, @BitGo/custody-experience

fix(root): add source to tss smc wallet creation
  modules/bitgo/test/v2/unit/wallets.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat(statics): onboard DUST, PYTH, HOOK, BORG, WECAN, osETH, CROWN
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-ton): change address format to non bouncable
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Owners: @BitGo/ethalt-team

chore(root): publish express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-ton): add message id calculation util
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Owners: @BitGo/ethalt-team

fix(sdk-coin-ton): change address format to non-bouncable
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Owners: @BitGo/ethalt-team

fix(sdk-coin-ton): change back address format to bouncable
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Owners: @BitGo/ethalt-team

feat(utxo-lib): parse basic info from the psbt
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/transactionAmounts.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
Owners: @BitGo/btc-team

feat(deser-lib): add serialization/deserialization module
  modules/deser-lib/.eslintignore
  modules/deser-lib/.gitignore
  modules/deser-lib/.mocharc.json
  modules/deser-lib/.prettierignore
  modules/deser-lib/.prettierrc.yml
  modules/deser-lib/package.json
  modules/deser-lib/src/index.ts
  modules/deser-lib/test/fixtures.json
  modules/deser-lib/test/unit/deser-lib.ts
  modules/deser-lib/tsconfig.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(root): improve error handling for consolidateAccount
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat(abstract-utxo): set txFormat and addressType in getExtraPrebuildParams
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/wallet.ts
Owners: @BitGo/btc-team, @BitGo/custody-experience, @BitGo/wallet-platform

fix(root): test test for failing test
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

test(bitgo): tests should used nocked public key
  modules/sdk-core/src/bitgo/utils/opengpgUtils.ts
  modules/sdk-test/src/bitgo/lib/test_bitgo.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm, @BitGo/custody-experience

feat(abstract-utxo): this enables psbt unless explicitly disabled for
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/bitgo/test/v2/unit/wallet.ts
Owners: @BitGo/btc-team, @BitGo/custody-experience, @BitGo/wallet-platform

feat(utxo-bin): add parseXpub command
  modules/utxo-bin/bin/index.ts
  modules/utxo-bin/src/bip32.ts
  modules/utxo-bin/src/commands.ts
  modules/utxo-bin/test/bip32.ts
  modules/utxo-bin/test/bip32.util.ts
  modules/utxo-bin/test/fixtures/xpub/xpub661MyMwAqRbcFeZWpTJmysmtDt8q8fz671p5CKGbHe2WuJvJD2kBfdooYurUNqQ9SF6cK1d5TdKzUKEL1di1ZevzZEyUg13vEBzFs5ciRm7.txt
  modules/utxo-bin/test/fixtures/xpub/xpub661MyMwAqRbcFeZWpTJmysmtDt8q8fz671p5CKGbHe2WuJvJD2kBfdooYurUNqQ9SF6cK1d5TdKzUKEL1di1ZevzZEyUg13vEBzFs5ciRm7_m_0_0.txt
  modules/utxo-bin/test/generateAddress.ts
  modules/utxo-bin/test/parseAddress.ts
Owners: @BitGo/btc-team

fix: add bech32 validation to cosmos address validation
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-atom/src/lib/utils.ts
  modules/sdk-coin-atom/test/resources/atom.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-atom/test/unit/utils.ts
  modules/sdk-coin-bera/src/lib/utils.ts
  modules/sdk-coin-bld/src/lib/utils.ts
  modules/sdk-coin-bld/test/resources/bld.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-coreum/src/lib/utils.ts
  modules/sdk-coin-coreum/test/resources/coreum.ts
  modules/sdk-coin-coreum/test/resources/tcoreum.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
  modules/sdk-coin-hash/src/lib/utils.ts
  modules/sdk-coin-hash/test/resources/hash.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-injective/src/lib/constants.ts
  modules/sdk-coin-injective/src/lib/utils.ts
  modules/sdk-coin-injective/test/resources/injective.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-osmo/src/lib/utils.ts
  modules/sdk-coin-osmo/test/resources/osmo.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-sei/src/lib/utils.ts
  modules/sdk-coin-sei/test/resources/sei.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/src/lib/utils.ts
  modules/sdk-coin-tia/test/resources/tia.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/src/lib/utils.ts
  modules/sdk-coin-zeta/test/resources/zeta.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team
