Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: tyler@bitgo.com, mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com, dawid@bitgo.com, luis@bitgo.com, jorge@bitgo.com, mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, irene@bitgo.com, elle@bitgo.com, @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, @tylerlevine

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore: update yarn.lock
  yarn.lock
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): update casper sdk version
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  yarn.lock
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(core): add explainTransaction for STX
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/fixtures/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Owners: tyler@bitgo.com

feat(core): add signTransactions method in stx
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Owners: tyler@bitgo.com

style(core): minor style cleanup
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Owners: tyler@bitgo.com

docs(core): remove incorrect comments in stx's explainTransaction
  modules/core/src/v2/coins/stx.ts
Owners: tyler@bitgo.com

fix(core): add a "memo" field to stx's explainTransaction's displayOrder
  modules/core/src/v2/coins/stx.ts
Owners: tyler@bitgo.com

refactor(account-lib): generate keys in lowercase for casper
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/keyPair.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/delegateBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/undelegateBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): fix multisig signing issue
  modules/account-lib/src/coin/stx/iface.ts
  modules/account-lib/src/coin/stx/transaction.ts
  modules/account-lib/src/coin/stx/transactionBuilder.ts
  modules/account-lib/src/coin/stx/transferBuilder.ts
  modules/account-lib/src/coin/stx/utils.ts
  modules/account-lib/test/unit/coin/stx/transactionBuilder/transferBuilder.ts
Owners: tyler@bitgo.com

test(core): stx fixture used a relative import for account-lib instead of @bitgo/account-lib
  modules/core/test/v2/fixtures/coins/stx.ts
Owners: tyler@bitgo.com

test: temporarily comment out transaction memo test until account-lib 2.9.0 is out
  modules/core/test/v2/unit/coins/stx.ts
Owners: tyler@bitgo.com

fix: do not not strip out null values from the stx transaction memo field
  modules/account-lib/src/coin/stx/transferBuilder.ts
Owners: tyler@bitgo.com

revert(core): proper fix found for the stx transaction memo field test
  modules/core/test/v2/unit/coins/stx.ts
Owners: tyler@bitgo.com

feat(core): implement verifyAddress for stx coin
  modules/core/src/v2/coins/stx.ts
  modules/core/test/v2/unit/coins/stx.ts
Owners: tyler@bitgo.com

fix(core): use mempool.space instead of earn.com for recovery fee
  modules/core/src/v2/coins/btc.ts
  modules/core/test/v2/lib/recovery-nocks.ts
Owners: mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com, tyler@bitgo.com

Revert "fix(core): set minimal required node version to 10.22.0"
  README.md
Owners: tyler@bitgo.com

chore!(core): don't monkey patch superagent to return bluebird promises
  modules/core/src/bitgo.ts
  modules/core/src/errors.ts
Owners: tyler@bitgo.com

chore!(core): remove bluebird from bitgo object http methods
  modules/core/src/api.ts
  modules/core/src/bitgo.ts
  types/superagent/index.d.ts
Owners: tyler@bitgo.com

fix(core): convert raw promises to Bluebird promises where needed
  modules/core/src/bitgo.ts
  modules/core/src/blockchain.ts
  modules/core/src/keychains.ts
  modules/core/src/markets.ts
  modules/core/src/pendingapproval.ts
  modules/core/src/pendingapprovals.ts
  modules/core/src/travelRule.ts
  modules/core/src/v2/coins/xrp.ts
  modules/core/src/v2/enterprise.ts
  modules/core/src/v2/keychains.ts
  modules/core/src/v2/markets.ts
  modules/core/src/v2/pendingApproval.ts
  modules/core/src/v2/trading/tradingAccount.ts
  modules/core/src/v2/wallet.ts
  modules/core/src/v2/wallets.ts
  modules/core/src/v2/webhooks.ts
  modules/core/src/wallet.ts
  modules/core/src/wallets.ts
Owners: tyler@bitgo.com, luis@bitgo.com, jorge@bitgo.com, irene@bitgo.com

feat(statics): eRC20 Token Support
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

style(account-lib): add braces
  modules/account-lib/src/coin/stx/transaction.ts
  modules/account-lib/src/coin/stx/transactionBuilder.ts
Owners: tyler@bitgo.com

fix: add up-to-date node version support info to README
  README.md
Owners: tyler@bitgo.com

chore(express): update sdk to bitgo@^11.13.0
  modules/express/package-lock.json
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/blake2b-wasm/package.json
  modules/blake2b/package-lock.json
  modules/blake2b/package.json
  modules/bls-dkg/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

fix(account-lib): use stable version of @bitgo/blake2b
  modules/account-lib/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins

chore(express): update sdk to bitgo@^11.13.0
  modules/express/package-lock.json
Owners: tyler@bitgo.com

feat(eth): generalize chain id configuration
  modules/account-lib/src/coin/eth/resources.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/test/unit/coin/celo/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/etc/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/eth/transaction.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/contractCall.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/send.ts
  modules/account-lib/test/unit/coin/rbtc/transactionBuilder/send.ts
Owners: tyler@bitgo.com

ci(utxo-lib): change testing scripts to align with monorepo expectations
  modules/utxo-lib/package.json
Owners: tyler@bitgo.com

chore(utxo-lib): remove package-lock.json, regenerate root yarn.lock
  modules/utxo-lib/package-lock.json
  yarn.lock
Owners: tyler@bitgo.com

tests(core): disable broken zcash test due to hard coded tx hexes
  modules/core/test/v2/unit/coins/zec.ts
Owners: tyler@bitgo.com

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   tyler@bitgo.com

# Order is important. The last matching pattern has the most precedence.

# Recovery
modules/core/src/v2/recovery.ts tyler@bitgo.com

# Coin Support
modules/core/src/v2/coins/*btc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bch.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*btg.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bsv.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*ltc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*dash.ts dawid@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xlm.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xrp.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*eth.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/token.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*zec.ts jorge@bitgo.com tyler@bitgo.com

# Trading accounts
modules/core/src/v2/trading/*.ts irene@bitgo.com tyler@bitgo.com

# Express
modules/express/* tyler@bitgo.com

# Statics
modules/statics/* tyler@bitgo.com elle@bitgo.com

# Package Configuration Files
modules/*/package*.json tyler@bitgo.com

modules/account-lib/* @argjv @twtaylorbitgo @CapnMigraine @marktoda @BitGo/git-admins

# Lock files
yarn.lock tyler@bitgo.com
modules/express/package-lock.json tyler@bitgo.com

# NOTHING BELOW THIS LINE
CODEOWNERS @BitGo/git-admins @argjv @twtaylorbitgo @CapnMigraine @tylerlevine @marktoda
