Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/ethalt-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
/modules/abstract-utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
/modules/blockapis/ @BitGo/btc-team
/modules/bls-dkg/ @BitGo/hsm
/modules/sdk-coin-bch/ @BitGo/btc-team
/modules/sdk-coin-bcha/ @BitGo/btc-team
/modules/sdk-coin-bsv/ @BitGo/btc-team
/modules/sdk-coin-btc/ @BitGo/btc-team
/modules/sdk-coin-btg/ @BitGo/btc-team
/modules/sdk-coin-dash/ @BitGo/btc-team
/modules/sdk-coin-doge/ @BitGo/btc-team
/modules/sdk-coin-ltc/ @BitGo/btc-team
/modules/sdk-coin-zec/ @BitGo/btc-team
/modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
/modules/unspents/ @BitGo/btc-team
/modules/utxo-bin/ @BitGo/btc-team
/modules/utxo-lib/ @BitGo/btc-team
/modules/utxo-ord/ @BitGo/btc-team

# Eth
/modules/account-lib/ @BitGo/ethalt-team
/modules/sdk-coin-celo/ @BitGo/ethalt-team
/modules/sdk-coin-etc/ @BitGo/ethalt-team
/modules/sdk-coin-eth/ @BitGo/ethalt-team
/modules/sdk-coin-eth2/ @BitGo/ethalt-team
/modules/sdk-coin-rbtc/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/staking/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/token.ts @BitGo/ethalt-team

# All other coins
/modules/sdk-coin-ada/ @BitGo/ethalt-team
/modules/sdk-coin-algo/ @BitGo/ethalt-team
/modules/sdk-coin-atom/ @BitGo/ethalt-team
/modules/sdk-coin-avaxc/ @BitGo/ethalt-team
/modules/sdk-coin-avaxp/ @BitGo/ethalt-team
/modules/sdk-coin-bsc/ @BitGo/ethalt-team
/modules/sdk-coin-cspr/ @BitGo/ethalt-team
/modules/sdk-coin-dot/ @BitGo/ethalt-team
/modules/sdk-coin-eos/ @BitGo/ethalt-team
/modules/sdk-coin-hbar/ @BitGo/ethalt-team
/modules/sdk-coin-near/ @BitGo/ethalt-team
/modules/sdk-coin-polygon/ @BitGo/ethalt-team
/modules/sdk-coin-sol/ @BitGo/ethalt-team
/modules/sdk-coin-stx/ @BitGo/ethalt-team
/modules/sdk-coin-sui/ @BitGo/ethalt-team
/modules/sdk-coin-ton/ @BitGo/ethalt-team
/modules/sdk-coin-trx/ @BitGo/ethalt-team
/modules/sdk-coin-xlm/ @BitGo/ethalt-team
/modules/sdk-coin-xrp/ @BitGo/ethalt-team
/modules/sdk-coin-xtz/ @BitGo/ethalt-team



# Core Modules
/modules/bitgo/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b-wasm/  @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/express/ @BitGo/wallet-platform
/modules/key-card/ @BitGo/wallet-platform
/modules/sdk-api/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-core/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-rpc-wrapper @BitGo/ethalt-team
/modules/sdk-test/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-unified-wallet @BitGo/ethalt-team
/modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

/.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/CODEOWNERS @BitGo/git-admins
/DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

feat(sdk-coin-ada): add support for ada token in tx building
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
Owners: @BitGo/ethalt-team

fix(utxo-lib): assert p2tr sig hash type
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
Owners: @BitGo/btc-team

test(utxo-lib): expand tests to other coins
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Owners: @BitGo/btc-team

feat(account-lib): expose Ton from sdk
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
  modules/sdk-coin-ton/src/index.ts
  modules/sdk-coin-ton/src/register.ts
Owners: @BitGo/ethalt-team

chore: update ethereum common library
  modules/sdk-coin-arbeth/package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-lib-mpc): add implementation of paillier-blum for paillier proof
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-lib-mpc): add types for paillierBlumProof methods
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): rename files to *Proof
  modules/sdk-lib-mpc/test/fixtures/paillierBlumProof.ts
  modules/sdk-lib-mpc/test/fixtures/paillierpProof.util.ts
  modules/sdk-lib-mpc/test/fixtures/rangeProof.util.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierproof.ts
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/types.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): use triple =
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

test(sdk-lib-mpc): add paillierBlumProof tests
  modules/sdk-lib-mpc/src/tss/ecdsa/generatePaillierKey.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
  modules/sdk-lib-mpc/test/fixtures/paillierBlumProof.ts
  modules/sdk-lib-mpc/test/tsconfig.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): rename files to temp
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierProofTemp.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeProofTemp.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): remove temp files
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/rangeProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): fix fmt
  modules/sdk-lib-mpc/package.json
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): add reference to paillierBlum
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): use shake256 and sampling rejection for generating quadratic residue
  modules/sdk-lib-mpc/src/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-lib-mpc): add noSmallFactors module
  modules/sdk-lib-mpc/src/tss/ecdsa/index.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/src/util.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/noSmallFactorsProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-lib-mpc): rename nsf.sigma to nsf.rho to match whitepaper
  modules/sdk-lib-mpc/src/tss/ecdsa/noSmallFactorsProof.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
  modules/sdk-lib-mpc/test/fixtures/mockNoSmallFactorsProof.json
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): use xit instead of comment
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): regenerate fixtures
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): increase timeout
  modules/sdk-lib-mpc/.mocharc.js
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): update rangeProof import
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/dlogproofs.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): update paillierProof import
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierproof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): prettier
  modules/sdk-lib-mpc/test/fixtures/mockPaillierBlumProof.json
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): skip prove and verify
  modules/sdk-lib-mpc/.mocharc.js
  modules/sdk-lib-mpc/test/unit/tss/ecdsa/paillierBlumProof.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

chore(sdk-lib-mpc): increase timeout for prove tests
  modules/sdk-lib-mpc/.mocharc.js
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-core): commit to partial public key
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/account-lib/mpc/tss/ecdsa/ecdsa.ts
Owners: @BitGo/ethalt-team, @BitGo/wallet-platform, @BitGo/hsm

chore: add ecdh keychain creation on login
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

feat(account-lib): add holesky testnet coin
  modules/account-lib/src/index.ts
  modules/bitgo/src/v2/coinFactory.ts
  modules/bitgo/src/v2/coins/index.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/mmi.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-coin-eth/src/hteth.ts
  modules/sdk-coin-eth/src/index.ts
  modules/sdk-coin-eth/src/register.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/test/unit/transactionBuilder/walletInitialization.ts
  modules/sdk-rpc-wrapper/test/fixtures/evmRPCWrapperFixtures.ts
  modules/sdk-rpc-wrapper/test/unit/evmRPCWrapper.ts
  modules/statics/src/tokenConfig.ts
  modules/web-demo/src/components/Coins/coinFactory.ts
Owners: @BitGo/ethalt-team, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins

feat: improve logic and add unit test
  modules/bitgo/test/unit/bitgo.ts
  modules/sdk-api/src/bitgoAPI.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

chore: rename new test
  modules/bitgo/test/unit/bitgo.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

chore: address review comments
  modules/bitgo/test/unit/bitgo.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

fix: ensure no pending mocks linger after test
  modules/bitgo/test/unit/bitgo.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

ci: verify that generated Dockerfile is up to date
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-ada): add support for multi asset in tx building
  modules/sdk-coin-ada/src/lib/transaction.ts
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Owners: @BitGo/ethalt-team

chore: updating ethereumjs common
  modules/bitgo/package.json
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-bsc/package.json
  modules/sdk-coin-celo/package.json
  modules/sdk-coin-etc/package.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-rbtc/package.json
  yarn.lock
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team, @BitGo/coins

chore(root): release express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-core): fix dc wallet creation
  modules/sdk-core/src/bitgo/keychain/keychains.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(statics): add new coinfeature for bulk transaction
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-core): enforce use of build codec
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat: use psbt for prebuild when wallet is distributedCustody
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/btc-team, @BitGo/wallet-platform, @BitGo/hsm
