Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/altcoins, @BitGo/defi-team, @BitGo/git-admins

feat(sdk-core): update ecdsa signing to use enterprise challenge
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/unit/apiNocks.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/common.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-api): repurpose getEcdhSharingKeychain to getEcdhKeychain
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/v1/wallets.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-coin-xrp): change xrp unsigned sweep recovery to return json body
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-xrp/src/xrp.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/altcoins

feat(sdk-core): initate, sign and verify ecdsa challenges for enterprise
  modules/bitgo/test/ecdh.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/mocks/ecdsaNtilde.ts
  modules/bitgo/test/v2/unit/tss/common.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/account-lib/util/crypto.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/ecdh.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
  modules/sdk-core/test/unit/dlogproofs.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): split CPU intensive tasks from ecdsa utils
  modules/account-lib/test/unit/utils/crypto.ts
  modules/bitgo/test/ecdh.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): switch ecdsa signing to work pre-safe primes
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/helpers.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-coin-atom): add send tx example for atom
  examples/ts/atom/buildSignSendTx.ts
  examples/ts/atom/sendMany.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): add enterprise method to fetch ecdsa config
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(bitgo): dockerfile
  Dockerfile
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(bitgo): dockerfile
  Dockerfile
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): ecdsa signing with static trusted challenges
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/enterprise/enterprises.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-core): fix url path of fetching tss config API
  modules/bitgo/test/v2/unit/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-core): fix incorrect check verifying range proof
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/test/unit/rangeproof.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): fix "Argument must be a Buffer" bug in the frontend
  modules/utxo-lib/src/payments/p2tr.ts
Owners: @BitGo/btc-team

feat(utxo-lib): fix "Argument must be a Buffer" bug in the frontend
  modules/utxo-lib/src/payments/p2tr.ts
  modules/web-demo/src/components/BitGoJS/bitgojs.spec.tsx
Owners: @BitGo/btc-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(web-demo): turn off automated cypress tests recording
  modules/web-demo/cypress.json
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): implement mweb parsing for ltc
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/bitgo/litecoin/LitecoinPsbt.ts
  modules/utxo-lib/src/bitgo/litecoin/LitecoinTransaction.ts
  modules/utxo-lib/src/bitgo/litecoin/LitecoinTransactionBuilder.ts
  modules/utxo-lib/src/bitgo/litecoin/index.ts
  modules/utxo-lib/src/bitgo/transaction.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
Owners: @BitGo/btc-team

test(utxo-lib): add tests for mweb litecoin
  modules/utxo-lib/test/bitgo/litecoin/fixtures/ltc-mweb-transaction.json
  modules/utxo-lib/test/bitgo/litecoin/fixtures/ltc-transaction.json
  modules/utxo-lib/test/bitgo/litecoin/mwebBehavior.ts
Owners: @BitGo/btc-team

demo changes to repro worker implementation
  modules/web-demo/package.json
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
  modules/web-demo/src/worker.js
  modules/web-demo/webpack/base.config.js
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): check for pendingEcdsa wallet state during txsign
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

wip_
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(root): rename .*Tilde.* to .*tilde.*
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/dlogproofs.ts
  modules/sdk-core/test/unit/rangeproof.ts
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): signature validates only with low S
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

chore(sdk-core): rearrange ntilde types
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): simplify ntilde types
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/rangeproof.ts
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-coin-atom): implement isWalletAddress in atom
  modules/sdk-coin-atom/src/atom.ts
  modules/sdk-coin-atom/test/resources/atom.ts
  modules/sdk-coin-atom/test/unit/atom.ts
Owners: @BitGo/altcoins

chore(statics): update avax explorer link
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat: express route to sign payloads in external signing mode
  modules/express/src/clientRoutes.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): add test util function to create psbt
  modules/utxo-lib/src/testutil/psbt.ts
Owners: @BitGo/btc-team

feat(utxo-lib): add index file for create psbt util function
  modules/utxo-lib/src/testutil/index.ts
  modules/utxo-lib/src/testutil/psbt.ts
Owners: @BitGo/btc-team

feat(utxo-lib): use chronological musig2 key order
  modules/utxo-bin/test/fixtures/formatAddress_bitcoin_default_bc1p5xqvqger0zdpcq6s3jznfz352exhk356p9hml6c69matmggrve9scdgsyg.txt
  modules/utxo-bin/test/fixtures/formatAddress_testnet_default_tb1p5xqvqger0zdpcq6s3jznfz352exhk356p9hml6c69matmggrve9s097l78.txt
  modules/utxo-lib/src/bitgo/Musig2.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/payments/p2tr.ts
  modules/utxo-lib/test/bitgo/outputScripts.ts
Owners: @BitGo/btc-team

feat(sdk-core): method to parse json from OVC to create TSS bitgo key
  modules/bitgo/test/v2/unit/keychains.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/keychain/keychains.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore: test handler for ofc payload signing in external sign mode
  modules/express/test/unit/clientRoutes/signPayload.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

try 1
  modules/web-demo/package.json
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
  modules/web-demo/src/x.worker.js
  modules/web-demo/webpack/base.config.js
  modules/web-demo/webpack/dev.config.js
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

change 1
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

try 3
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
  modules/web-demo/webpack/base.config.js
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

try 4
  modules/.DS_Store
  modules/web-demo/.DS_Store
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
  modules/web-demo/yarn-error.log
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): add ease of use fns for HSM testing
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/src/bitgo/index.ts
  modules/utxo-lib/src/payments/p2tr.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team

chore: onboard new batch of tokens Ticket: BG-74015
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore: onboard new batch of tokens (Avax) Ticket: BG-74015
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-ord/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-ada/ @BitGo/altcoins
modules/sdk-coin-algo/ @BitGo/altcoins
modules/sdk-coin-atom/ @BitGo/altcoins
modules/sdk-coin-avaxc/ @BitGo/altcoins
modules/sdk-coin-avaxp/ @BitGo/altcoins
modules/sdk-coin-bsc/ @BitGo/eth-team
modules/sdk-coin-cspr/ @BitGo/altcoins
modules/sdk-coin-dot/ @BitGo/altcoins
modules/sdk-coin-eos/ @BitGo/altcoins
modules/sdk-coin-hbar/ @BitGo/altcoins
modules/sdk-coin-near/ @BitGo/altcoins
modules/sdk-coin-polygon/ @BitGo/eth-team
modules/sdk-coin-sol/ @BitGo/altcoins
modules/sdk-coin-stx/ @BitGo/altcoins
modules/sdk-coin-sui/ @BitGo/altcoins
modules/sdk-coin-trx/ @BitGo/altcoins
modules/sdk-coin-xlm/ @BitGo/altcoins
modules/sdk-coin-xrp/ @BitGo/altcoins
modules/sdk-coin-xtz/ @BitGo/altcoins



# Core Modules
modules/bitgo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b-wasm/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/express/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/key-card/ @BitGo/wallets
modules/sdk-api/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-core/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-rpc-wrapper @BitGo/defi-team
modules/sdk-test/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-unified-wallet @BitGo/defi-team
modules/sjcl/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/statics/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/web-demo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
scripts/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
types/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
webpack/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

.eslintrc.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
.prettierrc.yml @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
check-package-versions.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
CODEOWNERS @BitGo/git-admins
DEVELOPERS.md @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
commitlint.config.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
Dockerfile @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
lerna.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
package.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.packages.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
