Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: tyler@bitgo.com, mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com, dawid@bitgo.com, luis@bitgo.com, jorge@bitgo.com, mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, irene@bitgo.com, elle@bitgo.com, @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, @tylerlevine

feat(account lib): add transaction builder changes
  modules/account-lib/src/coin/baseCoin/baseTransactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/resources/cspr/cspr.ts
Owners: tyler@bitgo.com

BGA-660 BGA-657 Removed CasperClient reference and node and chainname from casper transaction interface; Fixed owner type so its a public key instead of a string
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

fix(core): fix import for Bluebird library on cspr
  modules/core/src/v2/coins/cspr.ts
Owners: tyler@bitgo.com

feat(support flush coins): support flushing coins
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/src/coin/eth/walletUtil.ts
  modules/account-lib/test/unit/coin/eth/transactionBuilder/flushCoins.ts
Owners: tyler@bitgo.com

chore(tokens): add new erc ofc tokens to statics
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

fix: adds wallet version support in core
  modules/core/src/v2/baseCoin.ts
  modules/core/src/v2/wallets.ts
  modules/core/test/v2/unit/wallets.ts
Owners: tyler@bitgo.com

fix(core): fix wallet creation for CSPR
  modules/core/src/v2/coins/cspr.ts
  modules/core/src/v2/wallets.ts
  modules/core/test/v2/unit/coins/cspr.ts
Owners: tyler@bitgo.com

chore(root): update root yarn.lock
  yarn.lock
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

fix: remove ripple-lib due to node issues
  modules/account-lib/src/coin/baseCoin/baseUtils.ts
  modules/account-lib/src/coin/baseCoin/index.ts
  modules/account-lib/src/coin/xrp/index.ts
  modules/account-lib/src/coin/xrp/keyPair.ts
  modules/account-lib/src/coin/xrp/transaction.ts
  modules/account-lib/src/coin/xrp/transactionBuilder.ts
  modules/account-lib/src/coin/xrp/transactionBuilderFactory.ts
  modules/account-lib/src/coin/xrp/transferBuilder.ts
  modules/account-lib/src/coin/xrp/utils.ts
  modules/account-lib/src/coin/xrp/walletInitializationBuilder.ts
  modules/account-lib/src/index.ts
Owners: tyler@bitgo.com

feat(account lib): implemented happy path for transfer transaction
  modules/account-lib/package.json
  modules/account-lib/resources/cspr/contract/keys-manager.wasm
  modules/account-lib/src/coin/baseCoin/baseTransactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/enum.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/index.ts
  modules/account-lib/src/coin/cspr/keyPair.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

add support for IPC socket (unix socket) in Express
  modules/express/src/args.ts
  modules/express/src/config.ts
  modules/express/src/expressApp.ts
Owners: tyler@bitgo.com

feat(account-lib): refactor after code review
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
Owners: tyler@bitgo.com

test(ut-casper): basic unit tests created for transactions
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
Owners: tyler@bitgo.com

feat(account-lib): refactor code after code review
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
Owners: tyler@bitgo.com

test: minor fixes
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
Owners: tyler@bitgo.com

feat(account-lib): update casper-client-sdk lib version
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/enum.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(recovery): cusomize gasPrice and gasLimit
  modules/core/src/config.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/recovery.ts
Owners: tyler@bitgo.com, mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com

feat(account-lib): added UT over transaction
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
Owners: tyler@bitgo.com

fix: remove non existing testnet OFC tokens and fix asset for TERC
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

feat(account-lib): refactor due to pull request review suggestions
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
Owners: tyler@bitgo.com

feat(account-lib): refactor and added missing unit test
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
Owners: tyler@bitgo.com

feat(account-lib): updated casper sdk version to 1.0.13
  modules/account-lib/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  yarn.lock
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat: add new tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

fix: fix 1inch in coins.ts
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(express): add support for binding to an IPC socket (unix socket)
  modules/express/README.md
  modules/express/src/args.ts
  modules/express/src/config.ts
  modules/express/src/errors.ts
  modules/express/src/expressApp.ts
  modules/express/test/unit/bitgoExpress.ts
Owners: tyler@bitgo.com

fix: don't run unit tests on node 8
  .drone.jsonnet
  .drone.yml
Owners: tyler@bitgo.com

fix(statics): fix etc statics
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Owners: tyler@bitgo.com

fix(express): log bitgo-express and bitgojs versions on error
  modules/express/src/clientRoutes.ts
Owners: tyler@bitgo.com

Added TokenCreate transaction
  modules/account-lib/package.json
  modules/account-lib/resources/hbar/protobuf/TokenCreate.proto
  modules/account-lib/resources/hbar/protobuf/TransactionBody.proto
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/hbar/tokenCreateBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/tokenCreate.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

fix(bitgojs): fix security audit build failure
  package.json
Owners: tyler@bitgo.com

feat(account lib): stlx-657 implemented wallet initialization builder
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/walletInitialization/walletInitialization.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(express): add support for returning keychains with generated wallet
  modules/core/src/v2/wallet.ts
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/consolidateAccount.ts
  modules/express/test/unit/clientRoutes/generateWallet.ts
Owners: tyler@bitgo.com

build: update yarn.lock file
  yarn.lock
Owners: tyler@bitgo.com

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   tyler@bitgo.com

# Order is important. The last matching pattern has the most precedence.

# Recovery
modules/core/src/v2/recovery.ts tyler@bitgo.com

# Coin Support
modules/core/src/v2/coins/*btc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bch.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*btg.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bsv.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*ltc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*dash.ts dawid@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xlm.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xrp.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*eth.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/token.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*zec.ts jorge@bitgo.com tyler@bitgo.com

# Trading accounts
modules/core/src/v2/trading/*.ts irene@bitgo.com tyler@bitgo.com

# Express
modules/express/* tyler@bitgo.com

# Statics
modules/statics/* tyler@bitgo.com elle@bitgo.com

# Package Configuration Files
modules/*/package*.json tyler@bitgo.com

modules/account-lib/* @argjv @twtaylorbitgo @CapnMigraine @marktoda @BitGo/git-admins

# Lock files
yarn.lock tyler@bitgo.com
modules/express/package-lock.json tyler@bitgo.com

# NOTHING BELOW THIS LINE
CODEOWNERS @BitGo/git-admins @argjv @twtaylorbitgo @CapnMigraine @tylerlevine @marktoda
