Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/ethalt-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
/modules/abstract-utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
/modules/blockapis/ @BitGo/btc-team
/modules/bls-dkg/ @BitGo/hsm
/modules/sdk-coin-bch/ @BitGo/btc-team
/modules/sdk-coin-bcha/ @BitGo/btc-team
/modules/sdk-coin-bsv/ @BitGo/btc-team
/modules/sdk-coin-btc/ @BitGo/btc-team
/modules/sdk-coin-btg/ @BitGo/btc-team
/modules/sdk-coin-dash/ @BitGo/btc-team
/modules/sdk-coin-doge/ @BitGo/btc-team
/modules/sdk-coin-ltc/ @BitGo/btc-team
/modules/sdk-coin-zec/ @BitGo/btc-team
/modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
/modules/unspents/ @BitGo/btc-team
/modules/utxo-bin/ @BitGo/btc-team
/modules/utxo-lib/ @BitGo/btc-team
/modules/utxo-ord/ @BitGo/btc-team

# Eth
/modules/account-lib/ @BitGo/ethalt-team
/modules/sdk-coin-celo/ @BitGo/ethalt-team
/modules/sdk-coin-etc/ @BitGo/ethalt-team
/modules/sdk-coin-eth/ @BitGo/ethalt-team
/modules/sdk-coin-eth2/ @BitGo/ethalt-team
/modules/sdk-coin-rbtc/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/staking/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/token.ts @BitGo/ethalt-team

# All other coins
/modules/sdk-coin-ada/ @BitGo/ethalt-team
/modules/sdk-coin-algo/ @BitGo/ethalt-team
/modules/sdk-coin-atom/ @BitGo/ethalt-team
/modules/sdk-coin-avaxc/ @BitGo/ethalt-team
/modules/sdk-coin-avaxp/ @BitGo/ethalt-team
/modules/sdk-coin-bsc/ @BitGo/ethalt-team
/modules/sdk-coin-cspr/ @BitGo/ethalt-team
/modules/sdk-coin-dot/ @BitGo/ethalt-team
/modules/sdk-coin-eos/ @BitGo/ethalt-team
/modules/sdk-coin-hbar/ @BitGo/ethalt-team
/modules/sdk-coin-near/ @BitGo/ethalt-team
/modules/sdk-coin-polygon/ @BitGo/ethalt-team
/modules/sdk-coin-sol/ @BitGo/ethalt-team
/modules/sdk-coin-stx/ @BitGo/ethalt-team
/modules/sdk-coin-sui/ @BitGo/ethalt-team
/modules/sdk-coin-ton/ @BitGo/ethalt-team
/modules/sdk-coin-trx/ @BitGo/ethalt-team
/modules/sdk-coin-xlm/ @BitGo/ethalt-team
/modules/sdk-coin-xrp/ @BitGo/ethalt-team
/modules/sdk-coin-xtz/ @BitGo/ethalt-team



# Core Modules
/modules/bitgo/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b-wasm/  @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/express/ @BitGo/wallet-platform
/modules/key-card/ @BitGo/wallet-platform
/modules/sdk-api/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-core/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-rpc-wrapper @BitGo/ethalt-team
/modules/sdk-test/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-unified-wallet @BitGo/ethalt-team
/modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

/.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/CODEOWNERS @BitGo/git-admins
/DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

chore(root): release express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-ada): add separate UTXOs for each token with 1 ADA
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Owners: @BitGo/ethalt-team

chore(root): fix sdk-coin-dot
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-dot): set DOT version
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-coin-polkadot): bump to latest polkadot libs
  modules/sdk-coin-dot/package.json
  yarn.lock
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(root): fix test
  modules/sdk-coin-dot/package.json
  package.json
  yarn.lock
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-dot): don't pin polkadot deps
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(account-lib): pin substrate txwrapper
  modules/account-lib/package.json
Owners: @BitGo/ethalt-team

fix(sdk-coin-dot): update dot deps to latest
  modules/account-lib/package.json
  modules/sdk-coin-dot/package.json
  package.json
  yarn.lock
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-sui): parse recipients for custom tx Ticket: EA-1998
  modules/sdk-coin-sui/src/lib/utils.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/customTransactionBuilder.ts
Owners: @BitGo/ethalt-team

chore(deps): bump crypto-js from 4.1.1 to 4.2.0
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix: rename coin 'core' to 'coreum' in coinBuilderMap
  modules/account-lib/src/index.ts
Owners: @BitGo/ethalt-team

fix(utxo-lib): check prevout script against computed for non-taproot inputs
  modules/utxo-lib/src/bitgo/outputScripts.ts
  modules/utxo-lib/src/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/signature.ts
  modules/utxo-lib/test/bitgo/signatureModify.ts
Owners: @BitGo/btc-team

fix(sdk-coin-ton): validate TON address length
  modules/sdk-coin-ton/src/lib/utils.ts
Owners: @BitGo/ethalt-team

feat(sdk-coin-avaxc): add avax token support in recovery method
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/test/resources/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
Owners: @BitGo/ethalt-team

feat(blockapis): add fetchPrevTxBuffers
  modules/blockapis/src/UtxoApi.ts
Owners: @BitGo/btc-team

feat(utxo-bin): use strict mode
  modules/utxo-bin/bin/index.ts
Owners: @BitGo/btc-team

feat(utxo-bin): add new command convertTx
  modules/utxo-bin/bin/index.ts
  modules/utxo-bin/src/commands.ts
  modules/utxo-bin/src/convertTransaction.ts
  modules/utxo-bin/src/fetch.ts
Owners: @BitGo/btc-team

refactor(wp): split out readTransactionBytes from readTransaction
  modules/utxo-bin/src/commands.ts
Owners: @BitGo/btc-team

fix(utxo-bin): throw error on unknown tx type
  modules/utxo-bin/src/convertTransaction.ts
Owners: @BitGo/btc-team

fix(utxo-bin): improve error message for psbt conversion
  modules/utxo-bin/src/convertTransaction.ts
Owners: @BitGo/btc-team

feat(abstract-eth): add abstractEthLikeNewCoins class
  modules/abstract-eth/package.json
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/abstractEthLikeMPCCoin.ts
  modules/abstract-eth/src/ethLikeMPCToken.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/abstract-eth/src/index.ts
  modules/abstract-eth/tsconfig.json
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-arbeth/src/arbethToken.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/bscToken.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-polygon/src/polygonToken.ts
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

feat(abstract-eth): add abstractEthLikeNewCoins class WIN-1012 TICKET: WIN-1012
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(abstract-eth): add abstractEthLikeNewCoins class WIN-1012 TICKET: WIN-1012
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

docs(root): fix package.json for smc examples
  examples/ts/tss-smc/package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(statics): fix sol:vi decimal
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): get utxo script types by coin
  modules/sdk-core/src/bitgo/utils/abstractUtxoCoinUtil.ts
  modules/sdk-core/test/unit/bitgo/utils/abstractUtxoCoinUtil.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-coin-sol): add unit test for sol unsigned sweep consolidation recovery
  modules/sdk-coin-sol/test/unit/sol.ts
Owners: @BitGo/ethalt-team

chore(statics): fix celestia url
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-ton): add validBlock and validTransaction
  modules/sdk-coin-ton/src/lib/utils.ts
  modules/sdk-coin-ton/test/unit/ton.ts
Owners: @BitGo/ethalt-team

fix(sdk-core): use BuildParams.encode when consolidating unspents
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

fix(sdk-coin-ada): add multi-asset to init builder flow
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Owners: @BitGo/ethalt-team

chore(sdk-coin-ton): add missing tslib dep
  modules/sdk-coin-ton/package.json
  yarn.lock
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

ci: add node20 to ci
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: add node version to node_modules cache key
  .github/workflows/ci.yml
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: update @types/node
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: update .nvmrc
  .nvmrc
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

docs: update docs to state node20 is supported
  README.md
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

refactor(abstract-eth): move txbuilder to abstract-eth WIN-1021
  modules/abstract-eth/package.json
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/abstract-eth/src/index.ts
  modules/abstract-eth/src/lib/contractCall.ts
  modules/abstract-eth/src/lib/iface.ts
  modules/abstract-eth/src/lib/index.ts
  modules/abstract-eth/src/lib/keyPair.ts
  modules/abstract-eth/src/lib/transaction.ts
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/abstract-eth/src/lib/transferBuilder.ts
  modules/abstract-eth/src/lib/transferBuilders/baseNFTTransferBuilder.ts
  modules/abstract-eth/src/lib/transferBuilders/index.ts
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC1155.ts
  modules/abstract-eth/src/lib/transferBuilders/transferBuilderERC721.ts
  modules/abstract-eth/src/lib/types.ts
  modules/abstract-eth/src/lib/utils.ts
  modules/abstract-eth/src/lib/walletUtil.ts
  modules/abstract-eth/tsconfig.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/src/lib/index.ts
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/src/lib/transferBuilder.ts
  modules/sdk-coin-eth/src/lib/transferBuilders/index.ts
  modules/sdk-coin-eth/src/lib/walletUtil.ts
  modules/sdk-coin-eth/test/unit/getBuilder.ts
  modules/sdk-coin-eth/test/unit/utils.ts
  modules/sdk-coin-eth/tsconfig.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

refactor(sdk-coin-polygon): make changes related to txbuilder refactor
  modules/sdk-coin-polygon/src/lib/index.ts
  modules/sdk-coin-polygon/src/lib/transactionBuilder.ts
  modules/sdk-coin-polygon/src/lib/transferBuilder.ts
  modules/sdk-coin-polygon/src/lib/utils.ts
  modules/sdk-coin-polygon/src/polygonToken.ts
Owners: @BitGo/ethalt-team
