Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: tyler@bitgo.com, mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com, dawid@bitgo.com, luis@bitgo.com, jorge@bitgo.com, mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, irene@bitgo.com, elle@bitgo.com, @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, @tylerlevine

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): update casper sdk to version 20
  modules/account-lib/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

fix(core): accountSet txn support
  modules/core/src/v2/coins/xrp.ts
  modules/core/test/v2/unit/coins/xrp.ts
Owners: luis@bitgo.com, jorge@bitgo.com, tyler@bitgo.com

feat(trx account lib): add contract call builder
  modules/account-lib/src/coin/baseCoin/enum.ts
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
  modules/account-lib/src/coin/trx/enum.ts
  modules/account-lib/src/coin/trx/iface.ts
  modules/account-lib/src/coin/trx/index.ts
  modules/account-lib/src/coin/trx/transaction.ts
  modules/account-lib/src/coin/trx/transactionBuilder.ts
  modules/account-lib/src/coin/trx/utils.ts
  modules/account-lib/src/coin/trx/wrappedBuilder.ts
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/trx/trx.ts
  modules/account-lib/test/unit/coin/trx/transactionBuilder/contractCallBuilder.ts
  modules/account-lib/test/unit/coin/trx/transactionBuilder/wrappedBuilder.ts
Owners: tyler@bitgo.com

chore: update yarn.lock for new casper-client-sdk version
  yarn.lock
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

feat(modules/bls-dkg): add BLS-DKG module
  modules/bls-dkg/.gitignore
  modules/bls-dkg/index.js
  modules/bls-dkg/package.json
  modules/bls-dkg/test/bls-dkg.js
Owners: tyler@bitgo.com

refactor(trx account lib): add constants to clarify code
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
Owners: tyler@bitgo.com

feat(core): bG-29057: Add non participant keyreg transaction support for Algorand
  modules/core/src/v2/wallet.ts
  modules/core/test/lib/test_bitgo.ts
  modules/core/test/v2/integration/coins/algo.ts
  modules/core/test/v2/unit/coins/algo.ts
Owners: tyler@bitgo.com

feat(add tokens): add tokens (lowcase)
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

feat(trx account lib): inputs and outputs complement
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
  modules/account-lib/src/coin/trx/iface.ts
  modules/account-lib/src/coin/trx/transaction.ts
  modules/account-lib/src/coin/trx/transactionBuilder.ts
  modules/account-lib/test/unit/coin/trx/transactionBuilder/contractCallBuilder.ts
  yarn.lock
Owners: tyler@bitgo.com

refactor(trx account-lib): add init builder to transactionBuilder.ts
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
  modules/account-lib/src/coin/trx/transactionBuilder.ts
  modules/account-lib/src/coin/trx/wrappedBuilder.ts
Owners: tyler@bitgo.com

fix(core): improve logging when encountering prebuild validation error
  modules/core/src/v2/internal/parseOutput.ts
  modules/core/src/v2/wallet.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(express): update sdk to bitgo@^11.10.0
  modules/express/package-lock.json
Owners: tyler@bitgo.com

fix(express): update to typescript 4.2.2
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

fix(account-lib): fixed tobroadcastformat method
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
Owners: tyler@bitgo.com

feat(trx account lib): inputs and outputs complement
  modules/account-lib/src/coin/trx/contractCallBuilder.ts
  modules/account-lib/src/coin/trx/iface.ts
  modules/account-lib/src/coin/trx/transaction.ts
  modules/account-lib/src/coin/trx/transactionBuilder.ts
  modules/account-lib/src/coin/trx/wrappedBuilder.ts
  modules/account-lib/test/unit/coin/trx/transactionBuilder/contractCallBuilder.ts
  yarn.lock
Owners: tyler@bitgo.com

fix(account-lib): bG-29930 Update and pin hashgraph sdk version
  modules/account-lib/package.json
  yarn.lock
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

testing commit and push on local repo
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

set up eos files based on xrp as an example
  modules/account-lib/src/coin/eos/index.ts
  modules/account-lib/src/coin/eos/keyPairs.ts
  modules/account-lib/src/coin/eos/transaction.ts
  modules/account-lib/src/coin/eos/transactionBuilder.ts
  modules/account-lib/src/coin/eos/transactionBuilderFactory.ts
  modules/account-lib/src/coin/eos/transferBuilder.ts
  modules/account-lib/src/coin/eos/utils.ts
  modules/account-lib/src/coin/eos/walletInitializationBuilder.ts
Owners: tyler@bitgo.com

style(comments and metadata): fix typo in comments and add @bitgo prefix to package name
  modules/bls-dkg/index.js
  modules/bls-dkg/package.json
Owners: tyler@bitgo.com

fix(bls-dkg): add publish config for public package
  modules/bls-dkg/package.json
Owners: tyler@bitgo.com

feat(express): log request method and url upon failed request
  modules/express/src/clientRoutes.ts
Owners: tyler@bitgo.com

feat(account-lib): sign message and verify sign for casper
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/signMessage.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

fix(account-lib): fix addSignature method of cspr transaction
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
Owners: tyler@bitgo.com

chore: import @stacks/transactions for the stacks coin
  modules/account-lib/package.json
  yarn.lock
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): add stacks coin keypair + utils implementation
  modules/account-lib/src/coin/stacks/iface.ts
  modules/account-lib/src/coin/stacks/index.ts
  modules/account-lib/src/coin/stacks/keyPair.ts
  modules/account-lib/src/coin/stacks/utils.ts
Owners: tyler@bitgo.com

test(stacks): add test cases for the keypair and utils code
  modules/account-lib/src/index.ts
  modules/account-lib/test/resources/stacks/stacks.ts
  modules/account-lib/test/unit/coin/stacks/keyPair.ts
  modules/account-lib/test/unit/coin/stacks/util.ts
Owners: tyler@bitgo.com

feat(account-lib): add function to remove prefix from signature algorithm
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
Owners: tyler@bitgo.com

fix(account-lib): fix processSigning method of cspr transactionBuilder
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
Owners: tyler@bitgo.com

fix(account-lib): fix getTransferId method of cspr utils
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
Owners: tyler@bitgo.com

chore(root): update yarn.lock
  yarn.lock
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/bls-dkg/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): add transaction type argument
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
Owners: tyler@bitgo.com

feat(core): sign functions for casper
  modules/core/package.json
  modules/core/src/errors.ts
  modules/core/src/v2/coins/cspr.ts
  modules/core/test/v2/unit/coins/cspr.ts
Owners: tyler@bitgo.com

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   tyler@bitgo.com

# Order is important. The last matching pattern has the most precedence.

# Recovery
modules/core/src/v2/recovery.ts tyler@bitgo.com

# Coin Support
modules/core/src/v2/coins/*btc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bch.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*btg.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bsv.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*ltc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*dash.ts dawid@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xlm.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xrp.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*eth.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/token.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*zec.ts jorge@bitgo.com tyler@bitgo.com

# Trading accounts
modules/core/src/v2/trading/*.ts irene@bitgo.com tyler@bitgo.com

# Express
modules/express/* tyler@bitgo.com

# Statics
modules/statics/* tyler@bitgo.com elle@bitgo.com

# Package Configuration Files
modules/*/package*.json tyler@bitgo.com

modules/account-lib/* @argjv @twtaylorbitgo @CapnMigraine @marktoda @BitGo/git-admins

# Lock files
yarn.lock tyler@bitgo.com
modules/express/package-lock.json tyler@bitgo.com

# NOTHING BELOW THIS LINE
CODEOWNERS @BitGo/git-admins @argjv @twtaylorbitgo @CapnMigraine @tylerlevine @marktoda
