Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/ethalt-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
/modules/abstract-utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
/modules/blockapis/ @BitGo/btc-team
/modules/bls-dkg/ @BitGo/hsm
/modules/sdk-coin-bch/ @BitGo/btc-team
/modules/sdk-coin-bcha/ @BitGo/btc-team
/modules/sdk-coin-bsv/ @BitGo/btc-team
/modules/sdk-coin-btc/ @BitGo/btc-team
/modules/sdk-coin-btg/ @BitGo/btc-team
/modules/sdk-coin-dash/ @BitGo/btc-team
/modules/sdk-coin-doge/ @BitGo/btc-team
/modules/sdk-coin-ltc/ @BitGo/btc-team
/modules/sdk-coin-zec/ @BitGo/btc-team
/modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
/modules/unspents/ @BitGo/btc-team
/modules/utxo-bin/ @BitGo/btc-team
/modules/utxo-lib/ @BitGo/btc-team
/modules/utxo-ord/ @BitGo/btc-team

# Eth
/modules/account-lib/ @BitGo/ethalt-team
/modules/sdk-coin-celo/ @BitGo/ethalt-team
/modules/sdk-coin-etc/ @BitGo/ethalt-team
/modules/sdk-coin-eth/ @BitGo/ethalt-team
/modules/sdk-coin-eth2/ @BitGo/ethalt-team
/modules/sdk-coin-rbtc/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/staking/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/token.ts @BitGo/ethalt-team

# All other coins
/modules/sdk-coin-ada/ @BitGo/ethalt-team
/modules/sdk-coin-algo/ @BitGo/ethalt-team
/modules/sdk-coin-atom/ @BitGo/ethalt-team
/modules/sdk-coin-avaxc/ @BitGo/ethalt-team
/modules/sdk-coin-avaxp/ @BitGo/ethalt-team
/modules/sdk-coin-bsc/ @BitGo/ethalt-team
/modules/sdk-coin-cspr/ @BitGo/ethalt-team
/modules/sdk-coin-dot/ @BitGo/ethalt-team
/modules/sdk-coin-eos/ @BitGo/ethalt-team
/modules/sdk-coin-hbar/ @BitGo/ethalt-team
/modules/sdk-coin-near/ @BitGo/ethalt-team
/modules/sdk-coin-polygon/ @BitGo/ethalt-team
/modules/sdk-coin-sol/ @BitGo/ethalt-team
/modules/sdk-coin-stx/ @BitGo/ethalt-team
/modules/sdk-coin-sui/ @BitGo/ethalt-team
/modules/sdk-coin-ton/ @BitGo/ethalt-team
/modules/sdk-coin-trx/ @BitGo/ethalt-team
/modules/sdk-coin-xlm/ @BitGo/ethalt-team
/modules/sdk-coin-xrp/ @BitGo/ethalt-team
/modules/sdk-coin-xtz/ @BitGo/ethalt-team



# Core Modules
/modules/bitgo/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b-wasm/  @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/express/ @BitGo/wallet-platform
/modules/key-card/ @BitGo/wallet-platform
/modules/sdk-api/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-core/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-rpc-wrapper @BitGo/ethalt-team
/modules/sdk-test/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-unified-wallet @BitGo/ethalt-team
/modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

/.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/CODEOWNERS @BitGo/git-admins
/DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

refactor(sdk-coin-arbeth): make changes related to txbuilder refactor
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-arbeth/src/lib/index.ts
  modules/sdk-coin-arbeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-arbeth/src/lib/transferBuilder.ts
  modules/sdk-coin-arbeth/src/lib/walletUtil.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

refactor(sdk-coin-opeth): make changes related to txbuilder refactor
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/src/lib/index.ts
  modules/sdk-coin-opeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-opeth/src/lib/transferBuilder.ts
  modules/sdk-coin-opeth/src/lib/walletUtil.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-coin-opeth/test/unit/opeth.ts
  modules/sdk-coin-opeth/tsconfig.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

refactor(sdk-coin-ethw): make changes related to txbuilder refactor
  modules/sdk-coin-ethw/src/ethw.ts
  modules/sdk-coin-ethw/tsconfig.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-core): fix issue related to bignumber version
  modules/account-lib/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-eth2/package.json
  modules/sdk-coin-xlm/package.json
  modules/sdk-core/package.json
  modules/sdk-test/package.json
  yarn.lock
Owners: @BitGo/ethalt-team, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm, @BitGo/coins

refactor(abstract-eth): delete mpc related classes WIN-1021
  modules/abstract-eth/src/abstractEthLikeMPCCoin.ts
  modules/abstract-eth/src/ethLikeMPCToken.ts
  modules/abstract-eth/src/index.ts
  modules/sdk-coin-arbeth/src/arbethToken.ts
  modules/sdk-coin-bsc/src/bsc.ts
  modules/sdk-coin-bsc/src/bscToken.ts
  modules/sdk-coin-bsc/src/lib/transactionBuilder.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

fix(sdk-coin-eth): fix issue related to ethtxbuilder WIN-1021 TICKET: WIN-1021
  modules/sdk-coin-eth/src/lib/index.ts
  modules/sdk-coin-ethw/src/ethw.ts
  modules/sdk-coin-polygon/src/lib/transactionBuilder.ts
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: update yarn.lock
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat: add DISTRIBUTED_CUSTODY coin feature
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(statics): fix celestia url
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix: address verification for cosmos like coins Ticket: WIN-1069
  modules/abstract-cosmos/src/cosmosCoin.ts
  modules/abstract-cosmos/src/lib/utils.ts
  modules/sdk-coin-atom/src/atom.ts
  modules/sdk-coin-atom/src/lib/utils.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-bera/src/lib/utils.ts
  modules/sdk-coin-bld/src/lib/utils.ts
  modules/sdk-coin-bld/test/unit/bld.ts
  modules/sdk-coin-coreum/src/lib/utils.ts
  modules/sdk-coin-coreum/test/unit/coreum.ts
  modules/sdk-coin-hash/src/lib/utils.ts
  modules/sdk-coin-hash/test/unit/hash.ts
  modules/sdk-coin-injective/src/lib/utils.ts
  modules/sdk-coin-injective/test/unit/injective.ts
  modules/sdk-coin-islm/src/lib/utils.ts
  modules/sdk-coin-islm/test/unit/islm.ts
  modules/sdk-coin-osmo/src/lib/utils.ts
  modules/sdk-coin-osmo/test/unit/osmo.ts
  modules/sdk-coin-sei/src/lib/utils.ts
  modules/sdk-coin-sei/test/unit/sei.ts
  modules/sdk-coin-tia/src/lib/utils.ts
  modules/sdk-coin-tia/test/unit/tia.ts
  modules/sdk-coin-zeta/src/lib/utils.ts
  modules/sdk-coin-zeta/test/unit/zeta.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

chore: log unspents when creating a v1 transaction
  modules/sdk-api/src/v1/transactionBuilder.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

refactor(root): remove network argument from addWalletUnspentToPsbt()
  modules/abstract-utxo/src/recovery/backupKeyRecovery.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-ord/src/psbt.ts
  modules/utxo-ord/test/inscription.ts
Owners: @BitGo/btc-team

feat(utxo-lib): allow a custom sequenceNumber to be added in tx creation
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Owners: @BitGo/btc-team

refactor(abstract-eth): move methods to abstract-eth WIN-1012 TICKET: WIN-1012
  modules/abstract-eth/package.json
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/abstract-eth/src/lib/index.ts
  modules/abstract-eth/src/lib/resources.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-arbeth/tsconfig.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/src/gteth.ts
  modules/sdk-coin-eth/src/hteth.ts
  modules/sdk-coin-eth/src/teth.ts
  modules/sdk-coin-ethw/package.json
  modules/sdk-coin-ethw/src/ethw.ts
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-polygon/src/polygonToken.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

feat(statics): added coin staking feature for stx and cspr to see staking tab on bg23
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

refactor(abstract-eth): add common method to abstract-eth WIN-1087 TICKET: WIN-1087
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/src/lib/index.ts
  modules/sdk-coin-arbeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/test/unit/getBuilder.ts
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/src/lib/index.ts
  modules/sdk-coin-opeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-polygon/src/lib/index.ts
  modules/sdk-coin-polygon/src/lib/transactionBuilder.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

fix(sdk-coin-ton): fix add signature
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/src/lib/transactionBuilder.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Owners: @BitGo/ethalt-team

chore: update hashgraph packages
  modules/sdk-coin-algo/package.json
  modules/sdk-coin-hbar/package.json
  yarn.lock
Owners: @BitGo/ethalt-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat: migrate docker builds
  .github/workflows/ci.yml
  modules/express/package.json
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-ada): increase min amount to 1.5 ADA for token consolidation
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Owners: @BitGo/ethalt-team

feat(utxo-lib): build transaction without nonWitnessUtxo when specified
  modules/utxo-lib/src/bitgo/wallet/Psbt.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/testutil/psbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
Owners: @BitGo/btc-team

feat(utxo-lib): accept isReplaceable flag while adding unspents to PSBT
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Owners: @BitGo/btc-team

refactor(abstract-eth): move methods to abstract-eth WIN-1012
  modules/abstract-eth/package.json
  modules/abstract-eth/src/abstractEthLikeCoin.ts
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/abstract-eth/src/ethLikeToken.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/sdk-coin-arbeth/tsconfig.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth/src/erc20Token.ts
  modules/sdk-coin-eth/src/eth.ts
  modules/sdk-coin-eth/src/gteth.ts
  modules/sdk-coin-eth/src/hteth.ts
  modules/sdk-coin-eth/src/teth.ts
  modules/sdk-coin-ethw/package.json
  modules/sdk-coin-ethw/src/ethw.ts
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-polygon/src/polygonToken.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
  modules/statics/src/map.ts
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

fix: use public types for tx send
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/wallet/SendTransactionRequest.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/sdk-core/test/unit/bitgo/wallet/SendTransactionRequest.ts
  yarn.lock
Owners: @BitGo/wallet-platform, @BitGo/hsm, @BitGo/coins, @BitGo/custody-experience

chore: default to disabling fee check for psbt explainTransaction
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

refactor(abstract-eth): add common method to abstract-eth WIN-1087
  modules/abstract-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/src/lib/index.ts
  modules/sdk-coin-arbeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/src/lib/transactionBuilder.ts
  modules/sdk-coin-eth/test/unit/getBuilder.ts
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/src/lib/index.ts
  modules/sdk-coin-opeth/src/lib/transactionBuilder.ts
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-polygon/src/lib/index.ts
  modules/sdk-coin-polygon/src/lib/transactionBuilder.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

fix(sdk-coin-dot): fix getFee method for DOT
  modules/sdk-coin-dot/src/dot.ts
Owners: @BitGo/ethalt-team

test(sdk-coin-arbeth): add testcases for arbeth WIN-1095 TICKET: WIN-1095
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/src/arbeth.ts
  modules/sdk-coin-arbeth/src/lib/resources.ts
  modules/sdk-coin-arbeth/src/lib/transferBuilder.ts
  modules/sdk-coin-arbeth/src/register.ts
  modules/sdk-coin-arbeth/test/fixtures/arbeth.ts
  modules/sdk-coin-arbeth/test/getBuilder.ts
  modules/sdk-coin-arbeth/test/resources.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbethToken.ts
  modules/sdk-coin-arbeth/test/unit/transaction.ts
  modules/sdk-coin-polygon/src/tpolygon.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

test(sdk-coin-opeth): add opeth tests WIN-1095 TICKET: WIN-1095
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/src/lib/resources.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-coin-opeth/test/fixtures/opeth.ts
  modules/sdk-coin-opeth/test/getBuilder.ts
  modules/sdk-coin-opeth/test/resources.ts
  modules/sdk-coin-opeth/test/unit/opeth.ts
  modules/sdk-coin-opeth/test/unit/transaction.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-api): add explorer constants WIN-1095 TICKET: WIN-1095
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-core/src/bitgo/environments.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

fix(sdk-coin-polygon): fix issues WIN-1095 TICKET: WIN-1095
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-polygon/src/lib/transactionBuilder.ts
  modules/sdk-coin-polygon/src/polygon.ts
  modules/sdk-coin-polygon/test/resources.ts
  modules/sdk-coin-polygon/test/unit/polygon.ts
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team

chore(sdk-coin-arbeth): remove tss tests WIN-1087 TICKET: WIN-1087
  modules/sdk-coin-arbeth/package.json
  modules/sdk-coin-arbeth/test/fixtures/arbeth.ts
  modules/sdk-coin-arbeth/test/unit/arbeth.ts
  modules/sdk-coin-opeth/package.json
  modules/sdk-coin-opeth/test/fixtures/opeth.ts
  modules/sdk-coin-opeth/test/unit/opeth.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(root): upgraded node images to 20 and published express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix: use whitelisted send params for tx initiate
  modules/bitgo/test/v2/unit/accountConsolidations.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  yarn.lock
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm, @BitGo/coins

feat(statics): adds ofcwsteth in coins.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): allow tss signing with unencrypted prv
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

fix(sdk-coin-zeta): zeta explorer url fix
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(statics): make corrections for arbeth and opeth WIN-1151 TICKET: WIN-1151
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-coin-opeth/src/opeth.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
  modules/statics/test/unit/fixtures/expectedColdFeatures.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/coins, @BitGo/hsm

feat(sdk-coin-ada): dynamically modify fee based on asset output for consolidation
  modules/sdk-coin-ada/src/lib/transactionBuilder.ts
  modules/sdk-coin-ada/src/lib/utils.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/transactionBuilder.ts
Owners: @BitGo/ethalt-team

feat(statics): add Litentry (LIT) and Ampleforth (AMPL) as tokens
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform
