Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/ethalt-team, @BitGo/git-admins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
/modules/abstract-utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
/modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
/modules/blockapis/ @BitGo/btc-team
/modules/bls-dkg/ @BitGo/hsm
/modules/sdk-coin-bch/ @BitGo/btc-team
/modules/sdk-coin-bcha/ @BitGo/btc-team
/modules/sdk-coin-bsv/ @BitGo/btc-team
/modules/sdk-coin-btc/ @BitGo/btc-team
/modules/sdk-coin-btg/ @BitGo/btc-team
/modules/sdk-coin-dash/ @BitGo/btc-team
/modules/sdk-coin-doge/ @BitGo/btc-team
/modules/sdk-coin-ltc/ @BitGo/btc-team
/modules/sdk-coin-zec/ @BitGo/btc-team
/modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
/modules/unspents/ @BitGo/btc-team
/modules/utxo-bin/ @BitGo/btc-team
/modules/utxo-lib/ @BitGo/btc-team
/modules/utxo-ord/ @BitGo/btc-team

# Eth
/modules/account-lib/ @BitGo/ethalt-team
/modules/sdk-coin-celo/ @BitGo/ethalt-team
/modules/sdk-coin-etc/ @BitGo/ethalt-team
/modules/sdk-coin-eth/ @BitGo/ethalt-team
/modules/sdk-coin-eth2/ @BitGo/ethalt-team
/modules/sdk-coin-rbtc/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/staking/ @BitGo/ethalt-team
/modules/bitgo/test/v2/unit/coins/token.ts @BitGo/ethalt-team

# All other coins
/modules/sdk-coin-ada/ @BitGo/ethalt-team
/modules/sdk-coin-algo/ @BitGo/ethalt-team
/modules/sdk-coin-atom/ @BitGo/ethalt-team
/modules/sdk-coin-avaxc/ @BitGo/ethalt-team
/modules/sdk-coin-avaxp/ @BitGo/ethalt-team
/modules/sdk-coin-bsc/ @BitGo/ethalt-team
/modules/sdk-coin-cspr/ @BitGo/ethalt-team
/modules/sdk-coin-dot/ @BitGo/ethalt-team
/modules/sdk-coin-eos/ @BitGo/ethalt-team
/modules/sdk-coin-hbar/ @BitGo/ethalt-team
/modules/sdk-coin-near/ @BitGo/ethalt-team
/modules/sdk-coin-polygon/ @BitGo/ethalt-team
/modules/sdk-coin-sol/ @BitGo/ethalt-team
/modules/sdk-coin-stx/ @BitGo/ethalt-team
/modules/sdk-coin-sui/ @BitGo/ethalt-team
/modules/sdk-coin-ton/ @BitGo/ethalt-team
/modules/sdk-coin-trx/ @BitGo/ethalt-team
/modules/sdk-coin-xlm/ @BitGo/ethalt-team
/modules/sdk-coin-xrp/ @BitGo/ethalt-team
/modules/sdk-coin-xtz/ @BitGo/ethalt-team



# Core Modules
/modules/bitgo/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b-wasm/  @BitGo/custody-experience @BitGo/wallet-platform
/modules/blake2b/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/express/ @BitGo/wallet-platform
/modules/key-card/ @BitGo/wallet-platform
/modules/sdk-api/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-core/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
/modules/sdk-rpc-wrapper @BitGo/ethalt-team
/modules/sdk-test/ @BitGo/custody-experience @BitGo/wallet-platform
/modules/sdk-unified-wallet @BitGo/ethalt-team
/modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

/.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/CODEOWNERS @BitGo/git-admins
/DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
/tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

chore: use chain name for recovery message
  modules/abstract-eth/src/abstractEthLikeNewCoins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(statics): add support for BLZ (ERC20) and BTT (TRX)
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-sol): add isTokenTransaction field to SOL recovery txns
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
Owners: @BitGo/ethalt-team, @BitGo/wallet-platform, @BitGo/hsm

feat: add new coin feature for bulk staking transaction
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-api): add check to see if the derived xpub matches
  modules/sdk-api/src/v1/wallet.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-ton): make transfer non bouncable
  modules/sdk-coin-ton/src/lib/transaction.ts
  modules/sdk-coin-ton/test/resources/ton.ts
  modules/sdk-coin-ton/test/unit/ton.ts
  modules/sdk-coin-ton/test/unit/transferBuilder.ts
Owners: @BitGo/ethalt-team

fix(deser-lib): update yarn lockfile
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(deser-lib): fmt
  modules/deser-lib/test/fixtures.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-coin-avaxc): replace snowtrace with avax.network
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/types.ts
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/test/resources/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
  modules/sdk-core/src/bitgo/environments.ts
  modules/statics/src/networks.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/ethalt-team, @BitGo/hsm, @BitGo/coins

chore(root): release express
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-core): add typing and methods for nfts
  modules/bitgo/test/v2/fixtures/nfts/nftResponses.ts
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

fix(sdk-coin-avaxc): fix avaxc queryAddressTokenBalance method
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
Owners: @BitGo/ethalt-team

fix(sdk-coin-avaxc): fix unsigned recovery txn format for tokens
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-avaxc/src/iface.ts
  modules/sdk-coin-avaxc/test/unit/avaxc.ts
Owners: @BitGo/ethalt-team

fix(root): lock polkadot dependencies for node 16
  .github/workflows/test_package_updates.yml
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(root): lock io-ts version
  package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(web-demo): lock @types/styled-components version
  modules/web-demo/package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(statics): add ERC20 tokens for FTX
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): add optional StakeOptions fields
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat: add address book methods to wallet class
  examples/ts/address-book/create-directory-connection.ts
  examples/ts/address-book/create-listing-entry.ts
  examples/ts/address-book/create-manual-connection.ts
  examples/ts/address-book/get-connections.ts
  examples/ts/address-book/get-global-directory.ts
  examples/ts/address-book/get-listing-entry-contacts.ts
  examples/ts/address-book/get-listing.ts
  examples/ts/address-book/remove-connection.ts
  examples/ts/address-book/update-listing-entry.ts
  examples/ts/address-book/update-listing.ts
  modules/sdk-core/src/bitgo/address-book/address-book.ts
  modules/sdk-core/src/bitgo/address-book/index.ts
  modules/sdk-core/src/bitgo/address-book/types.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat: add bitgo network methods to trading class
  examples/ts/trade/get-trading-wallet.ts
  examples/ts/trade/list-trading-wallets.ts
  examples/ts/trade/network/create-allocation.ts
  examples/ts/trade/network/create-connection.ts
  examples/ts/trade/network/get-allocation-by-id.ts
  examples/ts/trade/network/get-allocations.ts
  examples/ts/trade/network/get-balances.ts
  examples/ts/trade/network/get-connection-by-id.ts
  examples/ts/trade/network/get-connections.ts
  examples/ts/trade/network/get-settlement-by-id.ts
  examples/ts/trade/network/get-settlement-transfers.ts
  examples/ts/trade/network/get-settlements.ts
  examples/ts/trade/network/get-supported-currencies.ts
  examples/ts/trade/network/update-connection.ts
  modules/sdk-core/package.json
  modules/sdk-core/src/bitgo/trading/iTradingAccount.ts
  modules/sdk-core/src/bitgo/trading/network/index.ts
  modules/sdk-core/src/bitgo/trading/network/network.ts
  modules/sdk-core/src/bitgo/trading/network/types.ts
  modules/sdk-core/src/bitgo/trading/tradingAccount.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

chore(statics): add staking flag to avax
  modules/statics/src/avaxp.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: add eip1559 support for opeth and arbeth
  modules/sdk-coin-arbeth/src/lib/resources.ts
  modules/sdk-coin-opeth/src/lib/resources.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(utxo-lib): disable warning on nonsafe sign segwit
  modules/utxo-lib/package.json
  modules/utxo-lib/src/bitgo/PsbtUtil.ts
  yarn.lock
Owners: @BitGo/btc-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): add new fields to StakeOptions
  modules/sdk-core/src/bitgo/staking/iStakingWallet.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(root): whitelist apiVersion for buildAccountConsolidations
  modules/express/src/clientRoutes.ts
  modules/express/test/unit/clientRoutes/consolidateAccount.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm

feat(abstract-utxo): enable segwit override when flagged
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/sign.ts
Owners: @BitGo/btc-team

feat(sdk-core): flag to do segwit override for bulk consolidations
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/wallet-platform, @BitGo/hsm
