Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/altcoins, @BitGo/defi-team, @BitGo/git-admins

fix(sdk-core): add previewPendingTxs flag EA-154
  modules/sdk-core/src/bitgo/pendingApproval/iPendingApproval.ts
  modules/sdk-core/src/bitgo/pendingApproval/pendingApproval.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

chore(commitlint): add btc as accepted prefix
  commitlint.config.js
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(bitgo): update docker file
  Dockerfile
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-bsc): remove unused dependency
  modules/sdk-coin-bsc/package.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(utxo-lib): correctly get indices for setMusig2NoncesInner
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

feat(abstract-utxo): make walletId param optional for signtx
  modules/abstract-utxo/src/abstractUtxoCoin.ts
  modules/abstract-utxo/src/sign.ts
  modules/bitgo/test/v2/unit/coins/utxo/transaction.ts
Owners: @BitGo/btc-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(root): lock noble/hashes to 1.3.0
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk): add Frankfurt CoinFeature
  modules/statics/src/base.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk): add Frankfurt CoinFeature
  modules/statics/src/base.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(statics): fix name
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-coin-osmo): testcases added for txn building and staking
  modules/sdk-coin-osmo/test/resources/osmo.ts
  modules/sdk-coin-osmo/test/unit/keyPair.ts
  modules/sdk-coin-osmo/test/unit/transaction.ts
  modules/sdk-coin-osmo/test/unit/transactionBuilder/StakingActivateBuilder.ts
  modules/sdk-coin-osmo/test/unit/transactionBuilder/StakingDeactivateBuilder.ts
  modules/sdk-coin-osmo/test/unit/transactionBuilder/StakingWithdrawRewardsBuilder.ts
  modules/sdk-coin-osmo/test/unit/transactionBuilder/transactionBuilder.ts
  modules/sdk-coin-osmo/test/unit/transactionBuilder/transferBuilder.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(sdk-coin-sui): remove `spec:` config in mocharc.yml
  modules/sdk-coin-sui/.mocharc.yml
  modules/sdk-coin-sui/package.json
Owners: @BitGo/altcoins, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

test(sdk-coin-sui): add local_fullnode tests
  modules/sdk-coin-sui/package.json
  modules/sdk-coin-sui/test/local_fullnode/README.md
  modules/sdk-coin-sui/test/local_fullnode/RpcClient.ts
  modules/sdk-coin-sui/test/local_fullnode/faucet.ts
  modules/sdk-coin-sui/test/local_fullnode/transactions.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/altcoins

fix(sdk-coin-sui): add method in RpcClient debug output
  modules/sdk-coin-sui/test/local_fullnode/RpcClient.ts
Owners: @BitGo/altcoins

fix(utxo-bin): improve `--stdin` to read from terminal input
  modules/utxo-bin/src/commands.ts
  modules/utxo-bin/src/readStdin.ts
Owners: @BitGo/btc-team

feat(utxo-bin): add option `--clipboard`
  modules/utxo-bin/package.json
  modules/utxo-bin/src/commands.ts
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/btc-team

feat(utxo-bin): update readme
  modules/utxo-bin/README.md
Owners: @BitGo/btc-team

fix(utxo-bin): remove some `console.log` statements
  modules/utxo-bin/src/commands.ts
Owners: @BitGo/btc-team

feat: improve DEVELOPERS.md, Dependencies section
  DEVELOPERS.md
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(utxo-lib): refactor psbt input update from adding
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
  modules/utxo-lib/src/testutil/mock.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2Util.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/ZcashPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/psbtUtil.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Owners: @BitGo/btc-team

fix(sdk-coin-sui): improve unstaking test
  modules/sdk-coin-sui/test/local_fullnode/transactions.ts
Owners: @BitGo/altcoins

fix(sdk-coin-trx): os agnostic commands
  modules/account-lib/package.json
  modules/sdk-coin-trx/package.json
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(account-lib): add osmo
  modules/account-lib/package.json
  modules/account-lib/src/index.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/eth-team

feat(sdk-coin-sui): add support for partial unstaking
  modules/sdk-coin-sui/src/lib/compareTransactionBlocks.ts
  modules/sdk-coin-sui/src/lib/constants.ts
  modules/sdk-coin-sui/src/lib/iface.ts
  modules/sdk-coin-sui/src/lib/mystenlab/framework/sui-system-state.ts
  modules/sdk-coin-sui/src/lib/unstakingBuilder.ts
  modules/sdk-coin-sui/src/lib/unstakingTransaction.ts
  modules/sdk-coin-sui/test/local_fullnode/transactions.ts
  modules/sdk-coin-sui/test/resources/sui.ts
  modules/sdk-coin-sui/test/unit/compareTransactionBlocks.ts
  modules/sdk-coin-sui/test/unit/transactionBuilder/unstakingBuilder.ts
Owners: @BitGo/altcoins

fix(bitgo): add prefixes
  commitlint.config.js
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(account-lib): add osmo
  modules/account-lib/tsconfig.json
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): make paillier proofs mandatory
  modules/account-lib/test/unit/mpc/tss/ecdsa/ecdsa.ts
  modules/bitgo/test/v2/fixtures/tss/ecdsaFixtures.ts
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/tss/types.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-lib-mpc/src/tss/ecdsa/types.ts
Owners: @BitGo/eth-team, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat(bitgo): add Frankfurt CoinFeature
  modules/statics/src/base.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

fix(utxo-lib): use utxolib toOutputScript when adding outputs
  modules/utxo-lib/src/testutil/psbt.ts
Owners: @BitGo/btc-team

feat(bitgo): coins Frankfurt Coinfeature
  modules/statics/src/avaxp.ts
  modules/statics/src/coins.ts
  modules/statics/test/unit/coins.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore: remove duplicate open ssl code
  modules/sdk-core/package.json
  modules/sdk-core/src/openssl/README.md
  modules/sdk-core/src/openssl/index.ts
  modules/sdk-core/src/openssl/openssl.ts
  modules/sdk-core/src/openssl/opensslbytes.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

chore(statics): refactor metadatarpc out
  modules/sdk-coin-dot/src/lib/utils.ts
  modules/sdk-coin-dot/src/resources/index.ts
  modules/sdk-coin-dot/src/resources/mainnet.ts
  modules/sdk-coin-dot/src/resources/westend.ts
  modules/statics/src/networks.ts
Owners: @BitGo/altcoins, @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

feat(sdk-core): accelerateTransaction always uses txFormat=psbt
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-core): sendMany always builds with psbt format for non-tss
  modules/bitgo/test/v2/unit/unspents.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-core): manageUnspents overrides txFormat during bss
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

feat(sdk-core): sweepWallet uses txFormat='psbt'
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform, @BitGo/hsm

chore: add CE as prefix in commitlint config for custody experience
  commitlint.config.js
Owners: @BitGo/coins, @BitGo/custody-experience, @BitGo/wallet-platform

chore(sdk-coin-ada): update `isValidAddress` implementation
  modules/sdk-coin-ada/src/lib/utils.ts
  modules/sdk-coin-ada/test/resources/index.ts
  modules/sdk-coin-ada/test/unit/utils.ts
Owners: @BitGo/altcoins

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-ord/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-ada/ @BitGo/altcoins
modules/sdk-coin-algo/ @BitGo/altcoins
modules/sdk-coin-atom/ @BitGo/altcoins
modules/sdk-coin-avaxc/ @BitGo/altcoins
modules/sdk-coin-avaxp/ @BitGo/altcoins
modules/sdk-coin-bsc/ @BitGo/eth-team
modules/sdk-coin-cspr/ @BitGo/altcoins
modules/sdk-coin-dot/ @BitGo/altcoins
modules/sdk-coin-eos/ @BitGo/altcoins
modules/sdk-coin-hbar/ @BitGo/altcoins
modules/sdk-coin-near/ @BitGo/altcoins
modules/sdk-coin-polygon/ @BitGo/eth-team
modules/sdk-coin-sol/ @BitGo/altcoins
modules/sdk-coin-stx/ @BitGo/altcoins
modules/sdk-coin-sui/ @BitGo/altcoins
modules/sdk-coin-trx/ @BitGo/altcoins
modules/sdk-coin-xlm/ @BitGo/altcoins
modules/sdk-coin-xrp/ @BitGo/altcoins
modules/sdk-coin-xtz/ @BitGo/altcoins



# Core Modules
modules/bitgo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/blake2b-wasm/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/blake2b/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/express/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/key-card/ @BitGo/wallet-platform
modules/sdk-api/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/sdk-core/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform @BitGo/hsm
modules/sdk-lib-mpc/ @BitGo/wallet-platform @BitGo/hsm
modules/sdk-rpc-wrapper @BitGo/defi-team
modules/sdk-test/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/sdk-unified-wallet @BitGo/defi-team
modules/sjcl/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/statics/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
modules/web-demo/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
scripts/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
types/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
webpack/ @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform

.eslintrc.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
.prettierrc.yml @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
check-package-versions.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
CODEOWNERS @BitGo/git-admins
DEVELOPERS.md @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
commitlint.config.js @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
Dockerfile @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
lerna.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
package.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
tsconfig.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
tsconfig.packages.json @BitGo/coins @BitGo/custody-experience @BitGo/wallet-platform
