Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/btc-team, @BitGo/hsm, @BitGo/eth-team, @BitGo/altcoins, @BitGo/defi-team, @BitGo/git-admins

docs(root): add sui sendMany example
  examples/ts/sui/multi-recipient-pay-transaction.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): playing around with wasm, only seems to work on node 18
  modules/sdk-core/package.json
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/src/openssl/index.ts
  modules/sdk-core/src/openssl/openssl.ts
  modules/sdk-core/src/openssl/openssl.wasm
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): create p2trMusig2 nonce using derived key
  modules/unspents/test/testutils.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
Owners: @BitGo/btc-team

feat(utxo-lib): create p2trMusig2 nonce using derived key
  modules/unspents/test/testutils.ts
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
  modules/utxo-lib/test/integration_local_rpc/generate/outputScripts.util.ts
Owners: @BitGo/btc-team

fix: correct ecash testnet address prefix Issue: BG-3163
  modules/utxo-lib/src/bitgo/bitcoincash/address.ts
  modules/utxo-lib/src/networks.ts
  modules/utxo-lib/test/address/fixtures/ecashTest-cashaddr.json
  modules/utxo-lib/test/address/fixtures/ecashTestnet-cashaddr.json
Owners: @BitGo/btc-team

fix: correct ecash testnet address prefix issue in utxo-bin: BG-3163
  modules/utxo-bin/test/fixtures/formatAddress_bitcoin_default_361UWADXqgPsdf8L5Jga6GNPauMuBtT1eW.all.txt
  modules/utxo-bin/test/fixtures/formatAddress_bitcoincash_default_361UWADXqgPsdf8L5Jga6GNPauMuBtT1eW.all.txt
  modules/utxo-bin/test/fixtures/formatAddress_ecashTest_cashaddr_ectest_pqh4utv0fm35eng6gycfwkuluc6l7e0q9vgmhlf38p.txt
  modules/utxo-bin/test/fixtures/formatAddress_ecashTest_cashaddr_ectest_qrffwzluvsghuwtach9h4xh7n79j9h9p7ytf3xzgah.txt
  modules/utxo-bin/test/fixtures/formatAddress_ecash_default_361UWADXqgPsdf8L5Jga6GNPauMuBtT1eW.all.txt
Owners: @BitGo/btc-team

chore(sdk-core): remove send while build logic for ethtss
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-api): repurpose getEcdhSharingKeychain to getEcdhKeychain
  modules/sdk-api/src/bitgoAPI.ts
  modules/sdk-api/src/v1/wallets.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): initate, sign and verify ecdsa challenges for enterprise
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/src/account-lib/util/crypto.ts
  modules/sdk-core/src/bitgo/bip32util.ts
  modules/sdk-core/src/bitgo/bitgoBase.ts
  modules/sdk-core/src/bitgo/enterprise/enterprise.ts
  modules/sdk-core/src/bitgo/enterprise/iEnterprise.ts
  modules/sdk-core/src/bitgo/keychain/iKeychains.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
  modules/sdk-core/src/bitgo/wallet/wallets.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

build(root): updated superagent
  modules/abstract-utxo/package.json
  modules/bitgo/package.json
  modules/express/package.json
  modules/sdk-api/package.json
  modules/sdk-coin-ada/package.json
  modules/sdk-coin-avaxc/package.json
  modules/sdk-coin-eos/package.json
  modules/sdk-coin-eth/package.json
  modules/sdk-coin-eth2/package.json
  modules/sdk-coin-ethw/package.json
  modules/sdk-coin-near/package.json
  modules/sdk-coin-polygon/package.json
  modules/sdk-coin-sol/package.json
  modules/sdk-coin-trx/package.json
  modules/sdk-coin-xlm/package.json
  modules/sdk-core/package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

build(root): update vm2 version
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-coin-sol): fix solana create ata on token transfer
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
Owners: @BitGo/altcoins

fix(sdk-coin-sol): fix solana create ata on token transfer
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
Owners: @BitGo/altcoins

chore(sdk-core): refactor and rename nTilde -> ntilde
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/tss/common.ts
  modules/sdk-core/src/bitgo/tss/common.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/ecdsa.ts
  modules/sdk-core/src/bitgo/utils/tss/ecdsa/types.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(bitgo): add argument to create address on ofc wallets
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(utxo-lib): add sorted musig2 participant pub keys in PSBT
  modules/utxo-lib/src/bitgo/Musig2.ts
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
Owners: @BitGo/btc-team

feat(utxo-lib): correct input index to psbt
  modules/utxo-lib/src/bitgo/wallet/Unspent.ts
Owners: @BitGo/btc-team

fix(sdk-coin-sol): fix SOL create ATA instruction order
  modules/sdk-coin-sol/src/lib/tokenTransferBuilder.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/transactionBuilder/tokenTransferBuilder.ts
Owners: @BitGo/altcoins

feat: batch wallet creation used in mysten for reference Ticket: BG-00000
  examples/js/createMystenWallets.js
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(sdk-coin-sol): fix solana get instruction type
  modules/sdk-coin-sol/src/lib/utils.ts
  modules/sdk-coin-sol/src/sol.ts
  modules/sdk-coin-sol/test/fixtures/sol.ts
  modules/sdk-coin-sol/test/resources/sol.ts
  modules/sdk-coin-sol/test/unit/sol.ts
Owners: @BitGo/altcoins

fix(bitgo): restrict receive address withdrawals
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(bitgo): restrict receive address withdrawals
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(utxo-lib): finalizeAllInputs finalises half signed p2tr
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

fix(utxo-lib): getSignatureValidationArray throws error for unsigned
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Psbt.ts
  modules/utxo-lib/test/bitgo/psbt/signingAndValidation.ts
Owners: @BitGo/btc-team

feat(sdk-coin-atom): add memo support for atom
  modules/sdk-coin-atom/src/lib/iface.ts
  modules/sdk-coin-atom/src/lib/transaction.ts
  modules/sdk-coin-atom/src/lib/transactionBuilder.ts
  modules/sdk-coin-atom/src/lib/utils.ts
  modules/sdk-coin-atom/test/resources/atom.ts
  modules/sdk-coin-atom/test/unit/atom.ts
  modules/sdk-coin-atom/test/unit/transactionBuilder/transferBuilder.ts
Owners: @BitGo/altcoins

Revert "chore(sdk-core): remove send while build logic for ethtss"
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): only send ethtss consolidations when not previewing
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-coin-sui): add sui staking coin feature
  modules/statics/src/coins.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(unspents): unsigned psbt dimensions can be calculated
  modules/unspents/src/dimensions.ts
  modules/unspents/test/signedTx/txCombinations.ts
Owners: @BitGo/btc-team

refactor: improve `deriveKeyPair` jsdoc, implementation
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
  modules/utxo-lib/test/bitgo/psbt/Musig2.ts
Owners: @BitGo/btc-team

refactor: remove `params` from deriveKeyPair
  modules/utxo-lib/src/bitgo/UtxoPsbt.ts
Owners: @BitGo/btc-team

feat(sdk-core): implement openssl wasm class
  modules/sdk-core/package.json
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/src/openssl/README.md
  modules/sdk-core/src/openssl/index.ts
  modules/sdk-core/src/openssl/openssl.ts
  modules/sdk-core/src/openssl/opensslbytes.ts
  modules/web-demo/src/App.tsx
  modules/web-demo/src/components/EcdsaChallenge/index.tsx
  modules/web-demo/src/components/Navbar/index.tsx
  webpack/bitgojs.config.js
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore(sdk-core): wasm ceremony for openssl
  modules/sdk-core/src/openssl/opensslbytes.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

fix(root): update tests using safe primes
  README.md
  modules/bitgo/test/v2/unit/internal/tssUtils/ecdsa.ts
  modules/bitgo/test/v2/unit/recovery.ts
  modules/bitgo/test/v2/unit/tss/ecdsa.ts
  modules/sdk-coin-avaxc/src/avaxc.ts
  modules/sdk-coin-bsc/test/unit/transactionBuilder/send.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/index.ts
  modules/sdk-core/src/openssl/openssl.ts
  modules/sdk-core/test/node.utils.ts
  modules/sdk-core/test/unit/openssl.ts
  modules/sdk-test/src/bitgo/lib/ecdsa.ts
  modules/sdk-test/src/bitgo/lib/index.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets, @BitGo/altcoins, @BitGo/eth-team

feat(bitgo): dockerfile
  Dockerfile
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): generate and verify Ntilde Proofs
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/rangeproof.ts
  modules/sdk-core/src/account-lib/mpc/tss/ecdsa/types.ts
  modules/sdk-core/test/unit/dlogproofs.ts
  package.json
  yarn.lock
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat(sdk-core): add isRebuild param to tss prebuild transaction
  modules/bitgo/test/v2/unit/wallet.ts
  modules/sdk-core/src/bitgo/utils/mpcUtils.ts
  modules/sdk-core/src/bitgo/utils/tss/baseTypes.ts
  modules/sdk-core/src/bitgo/wallet/iWallet.ts
  modules/sdk-core/src/bitgo/wallet/wallet.ts
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

feat: add package `@bitgo/crypto`
  modules/crypto/.eslintignore
  modules/crypto/.eslintrc.json
  modules/crypto/.gitignore
  modules/crypto/package.json
  modules/crypto/src/index.ts
  modules/crypto/tsconfig.json
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

refactor: rename to secp256k1, add tests
  modules/secp256k1/.eslintignore
  modules/secp256k1/.eslintrc.json
  modules/secp256k1/.gitignore
  modules/secp256k1/.mocharc.js
  modules/secp256k1/.prettierignore
  modules/secp256k1/.prettierrc.yml
  modules/secp256k1/package.json
  modules/secp256k1/src/index.ts
  modules/secp256k1/test/index.ts
  modules/secp256k1/tsconfig.json
Owners: @BitGo/coins, @BitGo/platform-applications-client, @BitGo/wallets

chore: use utxolib p2tr payment function to retrieve address from script
  modules/utxo-lib/src/address.ts
Owners: @BitGo/btc-team

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

# Order is important. The last matching pattern has the most precedence.

# UTXO coin modules
modules/abstract-utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/blockapis/ @BitGo/btc-team
modules/bls-dkg/ @BitGo/hsm
modules/sdk-coin-bch/ @BitGo/btc-team
modules/sdk-coin-bcha/ @BitGo/btc-team
modules/sdk-coin-bsv/ @BitGo/btc-team
modules/sdk-coin-btc/ @BitGo/btc-team
modules/sdk-coin-btg/ @BitGo/btc-team
modules/sdk-coin-dash/ @BitGo/btc-team
modules/sdk-coin-doge/ @BitGo/btc-team
modules/sdk-coin-ltc/ @BitGo/btc-team
modules/sdk-coin-zec/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-ord/ @BitGo/btc-team

# Eth
modules/account-lib/ @BitGo/eth-team
modules/sdk-coin-celo/ @BitGo/eth-team
modules/sdk-coin-etc/ @BitGo/eth-team
modules/sdk-coin-eth/ @BitGo/eth-team
modules/sdk-coin-eth2/ @BitGo/eth-team
modules/sdk-coin-rbtc/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/staking/ @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

# All other coins
modules/sdk-coin-ada/ @BitGo/altcoins
modules/sdk-coin-algo/ @BitGo/altcoins
modules/sdk-coin-atom/ @BitGo/altcoins
modules/sdk-coin-avaxc/ @BitGo/altcoins
modules/sdk-coin-avaxp/ @BitGo/altcoins
modules/sdk-coin-bsc/ @BitGo/eth-team
modules/sdk-coin-cspr/ @BitGo/altcoins
modules/sdk-coin-dot/ @BitGo/altcoins
modules/sdk-coin-eos/ @BitGo/altcoins
modules/sdk-coin-hbar/ @BitGo/altcoins
modules/sdk-coin-near/ @BitGo/altcoins
modules/sdk-coin-polygon/ @BitGo/eth-team
modules/sdk-coin-sol/ @BitGo/altcoins
modules/sdk-coin-stx/ @BitGo/altcoins
modules/sdk-coin-sui/ @BitGo/altcoins
modules/sdk-coin-trx/ @BitGo/altcoins
modules/sdk-coin-xlm/ @BitGo/altcoins
modules/sdk-coin-xrp/ @BitGo/altcoins
modules/sdk-coin-xtz/ @BitGo/altcoins



# Core Modules
modules/bitgo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b-wasm/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/blake2b/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/express/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/key-card/ @BitGo/wallets
modules/sdk-api/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-core/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-rpc-wrapper @BitGo/defi-team
modules/sdk-test/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/sdk-unified-wallet @BitGo/defi-team
modules/sjcl/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/statics/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
modules/web-demo/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
scripts/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
types/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
webpack/ @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets

.eslintrc.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
.prettierrc.yml @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
check-package-versions.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
CODEOWNERS @BitGo/git-admins
DEVELOPERS.md @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
commitlint.config.js @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
Dockerfile @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
lerna.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
package.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
tsconfig.packages.json @BitGo/coins @BitGo/platform-applications-client @BitGo/wallets
