Repository BitGo/BitGoJS, changes with the owners that CODEOWNERS names for each.
All owners: tyler@bitgo.com, mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com, dawid@bitgo.com, luis@bitgo.com, jorge@bitgo.com, mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, irene@bitgo.com, elle@bitgo.com, @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, @tylerlevine

CODEOWNERS:

# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   tyler@bitgo.com

# Order is important. The last matching pattern has the most precedence.

# Recovery
modules/core/src/v2/recovery.ts tyler@bitgo.com

# Coin Support
modules/core/src/v2/coins/*btc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bch.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*btg.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*bsv.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*ltc.ts mark@bitgo.com paddy@bitgo.com otto@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*dash.ts dawid@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xlm.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*xrp.ts luis@bitgo.com jorge@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*eth.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/token.ts mtoda@bitgo.com barath@bitgo.com ttaylor@bitgo.com tyler@bitgo.com
modules/core/src/v2/coins/*zec.ts jorge@bitgo.com tyler@bitgo.com

# Trading accounts
modules/core/src/v2/trading/*.ts irene@bitgo.com tyler@bitgo.com

# Express
modules/express/* tyler@bitgo.com

# Statics
modules/statics/* tyler@bitgo.com elle@bitgo.com

# Package Configuration Files
modules/*/package*.json tyler@bitgo.com

modules/account-lib/* @argjv @twtaylorbitgo @CapnMigraine @marktoda @BitGo/git-admins

# Lock files
yarn.lock tyler@bitgo.com
modules/express/package-lock.json tyler@bitgo.com

# NOTHING BELOW THIS LINE
CODEOWNERS @BitGo/git-admins @argjv @twtaylorbitgo @CapnMigraine @tylerlevine @marktoda

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(express): update sdk to bitgo@^11.9.2
  modules/express/package-lock.json
Owners: tyler@bitgo.com

fix(core): run tests against btg
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/index.ts
  modules/core/src/v2/coins/tbtg.ts
  modules/core/test/v2/unit/coins/btg.ts
Owners: tyler@bitgo.com, mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com

feat(core): add compatibility for @bitgo/utxo-lib 1.9.x
  modules/core/src/transactionBuilder.ts
  modules/core/src/v2/coins/dash.ts
  modules/core/src/v2/coins/ltc.ts
  modules/core/src/v2/coins/tdash.ts
  modules/core/src/v2/coins/tltc.ts
  modules/core/src/v2/coins/tzec.ts
  modules/core/test/v2/unit/coins/btg.ts
  modules/core/test/v2/unit/coins/zec.ts
Owners: tyler@bitgo.com, dawid@bitgo.com, mark@bitgo.com, paddy@bitgo.com, otto@bitgo.com, jorge@bitgo.com

Add consensusBranchId property to Transaction & set based on version
  src/transaction.js
  src/transaction_builder.js
Owners: tyler@bitgo.com

Add setConsensusBranchId() method to TansactionBuilder for Zcash
  src/transaction_builder.js
  test/fixtures/forks/zcash/transaction_builder.json
  test/transaction_builder.js
Owners: tyler@bitgo.com

Update ZEC consensus-branch-id for "Canopy" hard fork
  src/networks.js
Owners: tyler@bitgo.com

Add new test vector for tZEC Canopy P2SH 2-of-3
  package.json
  test/fixtures/forks/zcash/README.md
  test/fixtures/forks/zcash/transaction_builder.json
Owners: tyler@bitgo.com

fix(express): always prefer command line arguments to env var args
  modules/express/src/config.ts
  modules/express/test/unit/config.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/express/package-lock.json
  modules/express/package.json
Owners: tyler@bitgo.com

feat(account-lib): update the casper-client-sdk dependency to v1.0.16
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/utils.ts
  yarn.lock
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

chore: enable github action to close stale issues and PRs
  .github/workflows/stale.yml
Owners: tyler@bitgo.com

fix: enable TEST token for testnet ofc
  modules/statics/src/coins.ts
Owners: tyler@bitgo.com

fix: wait a second between 2 subsequent API calls
  modules/core/src/v2/coins/eth.ts
Owners: mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, tyler@bitgo.com

fix: catch etherscan rate limit error
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Owners: mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

fix: fix EOS testnet fullnode URLs
  modules/core/src/v2/environments.ts
Owners: tyler@bitgo.com

fix(core): removing rebuilding txes from 0 recipient txes
  modules/core/src/v2/pendingApproval.ts
  modules/core/test/v2/unit/pendingApproval.ts
Owners: tyler@bitgo.com

feat(account-lib): stlx-793 implemented from implementation for transaction and transaction builder
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
Owners: tyler@bitgo.com

fix: check account properties before using
  modules/core/src/v2/coins/eos.ts
Owners: tyler@bitgo.com

feat(statics): add casper explorer url
  modules/statics/src/networks.ts
Owners: tyler@bitgo.com

fix: fix failing unit test nocks
  modules/core/test/v2/lib/recovery-nocks.ts
Owners: tyler@bitgo.com

feat(account-lib): add pub key validation and address validation for CSPR
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/util.ts
Owners: tyler@bitgo.com

fix(wallet-platform): whitelist messageKey param
  modules/core/src/v2/wallet.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): implement isValidPrivateKey() method for CSPR
  modules/account-lib/src/coin/cspr/utils.ts
  modules/account-lib/test/unit/coin/cspr/util.ts
Owners: tyler@bitgo.com

feat(account-lib): updated casper node version
  modules/account-lib/src/coin/cspr/constants.ts
Owners: tyler@bitgo.com

feat(account-lib): stlx-1458 from implementation for wallet initialization
  modules/account-lib/package.json
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/ifaces.ts
  modules/account-lib/src/coin/cspr/transaction.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/src/coin/cspr/walletInitializationBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transaction.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transactionBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilderFactory.ts
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

feat(account-lib): updated casper sdk version to 1.0.19
  modules/account-lib/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins

feat(account-lib): from implementation for transfer builder
  modules/account-lib/src/coin/cspr/constants.ts
  modules/account-lib/src/coin/cspr/transactionBuilder.ts
  modules/account-lib/src/coin/cspr/transactionBuilderFactory.ts
  modules/account-lib/src/coin/cspr/transferBuilder.ts
  modules/account-lib/test/resources/cspr/cspr.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/cspr/transactionBuilderFactory.ts
Owners: tyler@bitgo.com

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Owners: @argjv, @twtaylorbitgo, @CapnMigraine, @marktoda, @BitGo/git-admins, tyler@bitgo.com

fix: fix Recovery Error Handling
  modules/core/src/v2/coins/eos.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/environments.ts
Owners: tyler@bitgo.com, mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com

x
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/environments.ts
  modules/core/test/lib/test_bitgo.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Owners: mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, tyler@bitgo.com

fix: fix Etherscan Testnet URL
  modules/core/src/v2/environments.ts
  modules/core/test/lib/test_bitgo.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/statics/src/networks.ts
Owners: tyler@bitgo.com

fix: improve Etherscan Error Handling
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Owners: mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, tyler@bitgo.com

fix: add more informative error msg
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/recovery.ts
Owners: mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, tyler@bitgo.com

fix: fix wei to gwei conversion
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/recovery.ts
Owners: mtoda@bitgo.com, barath@bitgo.com, ttaylor@bitgo.com, tyler@bitgo.com
